<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupXdmList</title>
</head>
<body>
	<a th:href="@{/codeXdmListAdd}" th:text="등록"></a>
    <table>
    	<tr>
    		<td>ch</td>
    		<td>#</td>
    		<td>codeSeq</td>
    		<td>codeName</td>
    		<td>codeGroupSeq</td>
    		<td>codeGroupName</td>
    		<td>codeDelNy</td>

    		<td>codeModDatetime</td>
    	</tr>
    	
    	<tr th:if="${#lists.isEmpty(list)}">
    	    <td colspan="8">There is no data!!!</td>
    	</tr>
    	
    	<tr th:if="!${#lists.isEmpty(list)}" th:each="list:${list}">
    	    <td></td>
    	    <td></td>
    	    <!-- 링크 걸기 -->
    	    <td th:text="${list.codeSeq}"></td>
    	    <td><a th:href="@{/codeView(
    	    	codeSeq=${list.codeSeq}
    	    	, codeName=${list.codeName}
    	    	, codeMemo=${list.codeMemo}
    	    	, codeDelNy=${list.codeDelNy}
   	    	)}" th:text="${list.codeName}"></a></td>
    	    <td th:text="${list.codeGroupSeq}"></td>
    	    <td th:text="${list.codeGroupName}"></td>
    	    
    	    <td th:if="${list.CodeDelNy eq 0}">N</td>
    	    <td th:unless="${list.CodeDelNy eq 0}">Y</td>
    	    

    	        	    
    	    <!-- <td th:text="${lista.codeSeq}"></td>
    	    <td th:text="${lista.codeName}"></td> -->
    	    <td th:text="${#dates.format(list.codeModDatetime, 'yyyy년MM월dd일 HH:mm:ss')}"></td>
    	</tr>
    </table>
</body>