
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

    

<th:block th:fragment="usrHeadOffcanvas">
    
<!-- Offcanvas Menu Start -->
<div class="offcanvas offcanvas-end offcanvas-sidebar" tabindex="-1" id="offcanvasSidebar">
    <button type="button" class="offcanvas-sidebar__close" data-bs-dismiss="offcanvas" aria-label="remove">
        <i class="lastudioicon-e-remove"></i>
    </button>
    <div class="offcanvas-body">
        <!-- Off Canvas Sidebar Menu Start -->
        <div class="offcanvas-sidebar__menu">
            <ul class="offcanvas-menu-list">
                <li th:if="${session.sessNameUsr == null}">
                    <a th:href="@{/membersUsrLogin}" > 
                        <i class="lastudioicon-single-01-1"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li th:unless="${session.sessNameUsr} == null">
                    <a th:href="@{/myAccount}">My Account</a>
                </li>
                <li th:unless="${session.sessNameUsr} == null">
                    <a th:href="@{/wishlist}">My Wishlist</a>
                </li>
                <li>-</li>
                <li>
                    <a th:href="@{/usrIndex}">Home</a>
                </li>
                <li>
                    <a th:href="@{/productUsrList}">Category</a>
                </li>
                <li>
                    <a th:href="@{/productUsrList(productBestNy=1)}">Best</a>
                </li>
                <li>
                    <a th:href="@{/productUsrList(productNewNy=1)}">New</a>
                </li>
            </ul>
        </div>

        
        <div class="offcanvas-sidebar__info">
            <ul class="offcanvas-info-list">
                <li>BABIFY Info</li>
                <li><a href="mailto:tal950519@gmail.com">- tal950519@gmail.com</a></li>
            </ul>
        </div>
        <!-- Off Canvas Sidebar Info End -->

    </div>
</div>

<!-- Offcanvas Menu End -->
</th:block>

</html>