
<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">

    

<th:block th:fragment="usrHeadTop">		

    <header class="header bg-white header-height">
        <!-- Header Top Start -->
        <!-- 헤더 탑 바 시작-->
        <div class="header__top">
            <div class="container-fluid custom-container">
                <div class="header__top--wrapper justify-content-between">
                    <div class="header__top--left d-none d-md-block">
                        <ul class="header__top--items">
                            <li>
                                <i class="lastudioicon-pin-3-1"></i>
                                <span>Korea</span>
                            </li>
                        </ul>
                    </div>
                    <div class="header__top--right">
                        <ul class="header__top--items">
                            <!-- 세션 여부로 로그인/로그아웃 표시-->
                            <li th:if="${session.sessNameUsr == null}">
                                <a th:href="@{/membersUsrLogin}" > 
                                    <i class="lastudioicon-single-01-1"></i>
                                    <span>Login</span>
                                </a>
                            </li>
                            <li th:unless="${session.sessNameUsr} == null">
                                <a th:href="@{/myAccount}">My Account</a>
                            </li>
                            <li th:unless="${session.sessNameUsr} == null">
                                <button type="button" id="buttonUsrSignOut" aria-label="logOut">
                                    <i class="lastudioicon-single-01-1"></i>
                                    <span>Logout</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- 헤더 탑 바 끝 -->

        <!-- 헤더메뉴바 시작 -->
        <!-- Header Main Start -->
        <div class="header__main header__main-dark header-shadow d-flex align-items-center">
            <div class="container-fluid custom-container">
                <div class="row align-items-center position-relative">
                    <div class="col-md-4 col-3 d-xl-none">
                        <button class="header__main--toggle" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-label="menu">
                            <i class="lastudioicon-menu-8-1"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-md-4 col-6">
                        <div class="header__main--logo text-center text-xl-start">
                            <a th:href="@{/usrIndex}">
                                <img src="/usr/assets/images/logo.png" alt="Logo" width="150" height="28" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <nav class="header__main--menu position-static">
                            <!-- Menu Item List Start -->
                            <ul class="menu-items-list menu-items-list--dark d-flex justify-content-center">
                                <li>
                                    <a class="active" th:href="@{/usrIndex}">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/productUsrList}">
                                        <span>Category </span>
                                        <i class="lastudioicon-down-arrow" aria-hidden="true"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <!--수정, 메뉴바 카테고리-->
                                        <li>  
                                            <a th:href="@{/productUsrList(productCatMainCd=12)}" ><span>Clothing</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/productUsrList(productCatMainCd=13)}"><span>Toys</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/productUsrList(productCatMainCd=14)}"><span>Feed</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/productUsrList(productCatMainCd=15)}"><span>Accessories</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/productUsrList(productCatMainCd=16)}"><span>Learning</span></a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a th:href="@{/productUsrList(productBestNy=1)}">
                                        <span>Best</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/productUsrList(productNewNy=1)}">
                                        <span>New</span>
                                    </a>
                                </li>

                            </ul>
                            <!-- Menu Item List End -->
                        </nav>
                    </div>
                    
                    <div class="col-xl-3 col-md-4 col-3">
                        <div class="header__main--meta d-flex justify-content-end align-items-center">
                            <!-- Meta Item List Start -->
                            <ul class="meta-items-list meta-items-list--dark d-flex justify-content-end align-items-center">
                                <li class="search d-none d-lg-block">
                                    <form name="formListSearch" id="formListSearch" method="get" autocomplete="off">
                                        <div class="meta-search meta-search--dark">
                                            <input type="text" id="shValue" name="shValue" onkeyup="enterkey()" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="btnSearch">
                                            <button aria-label="search" type="button" id="btnSearch">
                                                <i class="lastudioicon-zoom-1"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                                <li th:if="${session.sessNameUsr == null}" class="wishlist">
                                    <a th:href="@{/membersUsrLogin}" aria-label="Wishlist">
                                        <i
                                        class="lastudioicon lastudioicon-heart-1"
                                    ></i>

                                    </a>
                                </li>
                                <li th:unless="${session.sessNameUsr == null}" class="wishlist">
                                    <a th:href="@{/wishlist}" aria-label="Wishlist">
                                        <i
                                        class="lastudioicon lastudioicon-heart-1"
                                    ></i>

                                    </a>
                                </li>
                            </ul>
                            <button class="toggle-icon d-none d-xl-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="menu">
                                <span class="bar-icon"
                                ><i class="lastudioicon-menu-8-1"></i
                            ></span>
                            </button>
                            <!-- Meta Item List Start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Main End -->
    </header>

    <script>
        let goUrlUsrListSearch = "/productUsrList";

        let formSearch = document.querySelector("form[name=formListSearch]");

        function SearchList() {
            formSearch.action = goUrlUsrListSearch;
            formSearch.submit();
        };

        document.getElementById("btnSearch").onclick = function () {
            SearchList();
        };

        document.getElementById("formListSearch").addEventListener("keydown", function(event) {
            // 엔터키를 눌렀을 때
            if (event.key === "Enter") {
                event.preventDefault(); // 폼 제출을 막음

                SearchList();
            }
        });
    </script>
    <!-- Header End -->

</th:block>

</html>