<!DOCTYPE html>
<html lang="en">

	<!--헤드 블록-->
	<div th:replace="~{adm/v1/infra/include/xdmHead :: xdmHead}"></div>

	<body>

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Main container start -->
			<div class="main-container">

				<!--사이드바 블록-->
				<div th:replace="~{adm/v1/infra/include/xdmSideBar :: xdmSideBar(30)}"></div>

				
				<!-- App container starts -->
				<div class="app-container">

					<!-- 바디 헤더 블록-->
					<div th:replace="~{adm/v1/infra/include/xdmHeader :: xdmHeader}"></div>

					<!-- App hero header starts -->
					<div class="app-hero-header d-flex align-items-start">

						<!-- Breadcrumb start -->
						<ol class="breadcrumb d-none d-lg-flex align-items-center">
							<li class="breadcrumb-item">
								<i class="bi bi-house"></i>
								<a href="index.html">Home</a>
							</li>
							<li class="breadcrumb-item">Components</li>
							<li class="breadcrumb-item" aria-current="page">Invoice List</li>
						</ol>
						<!-- Breadcrumb end -->

						

					</div>
					<!-- App Hero header ends -->

					<!-- App body starts -->
					<div class="app-body">

						<!-- Row start -->
						<div class="row">
							<div class="col-xxl-12">
								<div class="card mb-4">
									<div class="card-header">
										<!-- 타이틀 -->
										<h5 class="card-title">Members</h5>
									</div>
									
									<div class="card-body">
									
										<form class="row g-3 needs-validation " method="post" action="membersUele" novalidate>
											<div class="col-md-6">
												<label for="membersXdmListAddAdminNy" class="form-label">Admin Ny</label>
												<input type="text" class="form-control" name="membersAdminNy" id="membersXdmListAddAdminNy" th:value="${item.membersAdminNy}" required readonly/>
											</div>
											<div class="col-md-6">
												<label for="membersXdmListAddEmail" class="form-label">Email</label>
												<input type="text" class="form-control" name="membersEmail" id="membersXdmListAddEmail" th:value="${item.membersEmail}" required readonly/>
											</div>
											<div class="col-md-6">
												<label for="membersXdmListAddPw" class="form-label">Pw</label>
												<input type="text" class="form-control" name="membersPw" id="membersXdmListAddPw" th:value="${item.membersPw}" required readonly/>
											</div>
											<div class="col-md-6">
												<label for="membersXdmListAddName" class="form-label">Name</label>
												<input type="text" class="form-control" name="membersName" id="membersXdmListAddName" th:value="${item.membersName}" required readonly/>
											</div>
											<div class="col-md-6">
												<label for="membersXdmListAddBirth" class="form-label">Birth</label>
												<input type="text" class="form-control" name="membersBirth" id="membersXdmListAddBirth" th:value="${item.membersBirth.substring(0, 4) + '/' + item.membersBirth.substring(4, 6) + '/' + item.membersBirth.substring(6, 8)}" required readonly/>
												<div class="valid-feedback">Looks good!</div>
											</div>
											<div class="col-md-6">
												<label for="membersXdmListAddGender" class="form-label">Gender</label>
												<!-- 젠더코드> 코드 이름으로 나타내기 -->
												<input th:if="${item.membersGenderCd != null}" th:value="${@codeService.selectOneCachedCode(item.membersGenderCd)}" id="membersXdmListAddGender" name="membersGenderCd" class="membersGenderCd align-middle form-control" required readonly></input>
												<input th:unless="${item.membersGenderCd != null}" class="membersGenderCd align-middle"></input>
											</div>
											<div class="col-md-6">
												<label for="membersXdmListAddGrade" class="form-label">Grade</label>
												<input th:if="${item.membersGradeCd != null}" th:value="${@codeService.selectOneCachedCode(item.membersGradeCd)}" id="membersXdmListAddGrade" name="membersGradeCd" class="membersGradeCd align-middle form-control" required readonly></input>
												<input th:unless="${item.membersGradeCd != null}" class="membersGradeCd align-middle"></input>
											</div>
											
											<input type="hidden" name="membersSeq" th:value="${item.membersSeq}">
											<input type="hidden" name="membersDelNy" th:value="${item.membersDelNy}">
											
											<div class="d-flex justify-content-between">

												<div class="m-0 p-0">
													<a class="btn btn-lg  m-0 p-0" th:href="@{/membersXdmList}">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
															<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
														</svg>
														back
													</a>
												</div>
												
												<div>
													<a class="btn btn-primary btn-icon btn-sm" th:href="@{/membersXdmEdit(membersSeq=${item.membersSeq})}" th:text="Edit"></a>
													<a class="btn btn-danger btn-icon btn-sm" 
														data-bs-toggle="modal"
														th:data-bs-target="'#membersXdmDele'+ ${item['membersSeq']}"
														data-bs-target="#membersXdmDele">Delete</i>
													</a>
													<!-- 수정, 삭제 모달-->
													<div class="modal fade" 
														th:id="'membersXdmDele' + ${item['membersSeq']}"
														id="membersXdmDele"
														tabindex="-1"
														aria-labelledby="membersXdmDeleTitle"
														aria-hidden="true">

														<div class="modal-dialog modal-dialog-centered">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="membersXdmDeleTitle">
																		Code Group 삭제
																	</h5>
																	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																	<p class="text-start">회원 정보를 정말로 삭제하시겠습니까?</p>
																</div>
																<div class="modal-footer">
																	<a class="btn btn-secondary" data-bs-dismiss="modal">취소</a>
																	<a class="btn btn-danger" th:href="@{/membersUele(membersSeq=${item.membersSeq}, membersDelNy=${item.membersDelNy})}">삭제</a>
																</div>
															</div>
														</div>
													</div>
													
													<a class="btn btn-danger btn-icon btn-sm" 
													data-bs-toggle="modal"
													th:data-bs-target="'#membersXdmDeleAll'+ ${item['membersSeq']}"
													data-bs-target="#membersXdmDeleAll">Delete All</i>
													</a>
													<!-- 수정, 완전 삭제 모달-->
													<div class="modal fade" 
														th:id="'membersXdmDeleAll' + ${item['membersSeq']}"
														id="membersXdmDeleAll"
														tabindex="-1"
														aria-labelledby="membersXdmDeleAllTitle"
														aria-hidden="true">

														<div class="modal-dialog modal-dialog-centered">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="membersXdmDeleAllTitle">
																		Code Group 삭제
																	</h5>
																	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																	<p class="text-start">회원 정보를 정말로 삭제하시겠습니까?</p>
																</div>
																<div class="modal-footer">
																	<a class="btn btn-secondary" data-bs-dismiss="modal">취소</a>
																	<a class="btn btn-danger" th:href="@{/membersDele(membersSeq=${item.membersSeq})}">삭제</a>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- App body ends -->

					<!-- App footer start -->
					<!-- App footer end -->

				</div>
				<!-- App container ends -->

			</div>
			<!-- Main container end -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ JavaScript Files *************
		************* -->
	
	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{adm/v1/infra/include/xdmJs :: xdmJs}"></div>

	</body>

</html>