<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <!--수정, 로그인-->
                    <h2 class="breadcrumb-wrapper__title">
                        Register
                    </h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>Register</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Log In & Register Start -->
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <!--수정, justify-content-center 추가(가운데 정렬)-->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <h3 class="login-register__title">Register</h3>

                            <form name="formInsert" id="formInsert" method="post"  novalidate> 
                                <div class="login-register__form">
                                    <!--수정, 회원가입 폼 라벨 추가-->
                                    <input type="hidden" name="membersAdminNy" value="0" />
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <label for="membersEmail" class="form-label">Email address *</label>
                                        <input type="text" class="form-control" name="membersEmail" id="membersEmail" placeholder="사용자 이메일을 입력하세요" required />
                                        <div class="invalid-feedback" id="membersEmailFeedback"></div>
                                    </div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <label for="membersPw" class="form-label">Password *</label>
                                        <input type="password" class="form-control" name="membersPw" id="membersPw" placeholder="사용자 비밀번호를 입력하세요" required />
                                        <div class="invalid-feedback" id="membersPwFeedback"></div>
                                    </div>
                                    <div class="single-form">
                                        <label for="pwCheck" class="form-label">Password check *</label>
                                        <input type="password" class="form-control" name="pwCheck" id="pwCheck" placeholder="사용자 비밀번호를 입력하세요" required />
                                        <div class="invalid-feedback" id="pwCheckFeedback"></div>
                                    </div>
                                    
                                    <div class="single-form">
                                        <label for="membersName" class="form-label">Name *</label>
                                        <input type="text" class="form-control" name="membersName" id="membersName" placeholder="사용자 이름을 입력하세요" required />
                                        <div class="invalid-feedback" id="membersNameFeedback"></div>
                                    </div>
                                    <div class="single-form">
                                        <label for="membersBirth" class="form-label">Birth *</label>
                                        <input type="text" class="form-control" name="membersBirth" id="membersBirth" placeholder="사용자 생일을 입력하세요" required />
                                        <div class="invalid-feedback" id="membersBirthFeedback"></div>
                                    </div>
                                    <div class="single-form">
                                        <label class="form-label" for="membersGenderCd">Gender *</label>
                                        <select class="form-select" name="membersGenderCd" id="membersGenderCd">
                                            <option value="" selected>성별을 선택하세요</option>
                                            <option th:each="list : ${@codeService.selectListCachedCode(6)}" th:value="${list.codeSeq}" th:text="${list.codeName}"></option>
                                        </select>
                                        <div class="invalid-feedback" id="membersGenderCdFeedback"></div>
                                    </div>
                                    <input type="hidden" name="membersGradeCd" value="11" />
                                    
                                    <div class="single-form text-center row">
                                        <button class="btn single-form__btn col" id="btnSubmit" type="submit" >
                                            Submit
                                        </button>
                                    </div>
                                    <!-- Single Form Start -->
                                </div>
                            </form>

                        </div>
                        <!-- Log In & Register Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Log In & Register End -->

        
    </main>
    <script>
        // 폼 정의 필수

        let form = document.querySelector("form[name=formInsert]");

        // 등록 버튼

        let goUrlUsrInst = "/membersUsrInsert";

        function registerIn() {
            if(validationInst() == false){
                return false;
            } else {

                form.action = goUrlUsrInst;
                form.submit();
            }
        }

        document.getElementById("btnSubmit").onclick = function () {
            event.preventDefault(); // 폼 제출을 막음
            
            registerIn();
            
            
        }

        function validationInst() {
            if(validationUpdt() == false) { return false;
            }
        }
        
        function validationUpdt() {
            
            if(!checkNull ('membersEmail', 2, '데이터 값을 입력하세요')) return false;
            if(!checkEmail('membersEmail',2,0,'"abc@google.com"처럼 이메일 형식에 맞게 입력하세요')) return false;

            if(!checkNull ('membersPw', 2, '데이터 값을 입력하세요')) return false;
            // 이후 비밀번호 체크 패스워드로 바꿔주기
            // if(!checkPassword('membersPw',2,0,'영어, 한글, 숫자만 입력 가능합니다')) return false;
            if(!checkOnlyKoreanEnglishNumber('membersPw',2,0,'영어, 한글, 숫자만 입력 가능합니다')) return false;

            if(!checkNull ('pwCheck', 2, '데이터 값을 입력하세요')) return false;
            if(!checkOnlyKoreanEnglishNumber('pwCheck',2,0,'영어, 한글, 숫자만 입력 가능합니다')) return false;

            if(!checkNull ('membersName', 2, '데이터 값을 입력하세요')) return false;
            if(!checkOnlyKoreanEnglish('membersName',2,0,'영어, 한글만 입력 가능합니다')) return false;

            if(!checkNull ('membersBirth', 2, '데이터 값을 입력하세요')) return false;
            if(!checkOnlyEightNumber('membersBirth',2,0,'8자리 숫자만 입력 가능합니다')) return false;

            if(!checkSelectNull('membersGenderCd', 2, "목록을 선택하세요.")) return false;
        }



        document.addEventListener("keydown", function(event) {
            // 엔터키를 눌렀을 때
            if (event.key === "Enter") {
                event.preventDefault(); // 폼 제출을 막음
                
                registerIn();
            }
        });

    </script>

    <!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>