<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{/usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <!--수정, 로그인-->
                    <h2 class="breadcrumb-wrapper__title">
                        Log In
                    </h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>Log In</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Log In & Register Start -->
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <!--수정, justify-content-center 추가(가운데 정렬)-->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <h3 class="login-register__title">Log In</h3>

                            <form method="post">
                                <div class="login-register__form">
                                    <!--수정, 로그인 폼 라벨 추가-->
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <label for="membersEmail" class="form-label">Email</label>
                                        <input type="text" name="membersEmail" id="membersEmail" class="single-form__input" value="ex1@google.com" />
                                        <div class="invalid-feedback" id="membersEmailFeedback"></div>
                                    </div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
									<div class="single-form">
                                        <label for="membersPw" class="form-label">Password</label>
										<input type="password" name="membersPw" id="membersPw" class="single-form__input" value="1" />
										<div class="invalid-feedback" id="membersPwFeedback"></div>
									</div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
                                    <!--수정, 회원가입 이동 내역 추가-->
                                    <div class="pt-4 d-flex justify-content-end">
                                        <a href="#">register?</a>
                                    </div>
                                    <div class="single-form">
                                        <input class="single-form__input" type="checkbox" id="remember" />
                                        <label for="remember" class="single-form__label checkbox-label"><span></span> Remember
                                            me</label>
                                        <p class="lost-password">
                                            <a href="#">Lost your password?</a>
                                        </p>
                                    </div>
                                    <!-- Single Form Start -->

                                    <!-- Single Form Start -->
                                    <!--수정, 버튼 가로 값 및 회원가입 추가-->
                                    <div class="single-form text-end row">
                                        <button class="single-form__btn btn col" type="button" id="buttonSignIn">
                                            Log In
                                        </button>
                                        
                                        <a th:href="@{/membersUsrRegister}" class="single-form__btn btn col" >
                                            Register
                                        </a>
                                    </div>
                                    <!-- Single Form Start -->
                                </div>
                            </form>
                            <!--수정, 간편 로그인 버튼 추가 및 row, col 삽입-->
                            <ul class="login-register__social row">
                                <li class="col">
                                    <a class="social-facebook" href="#">
                                        <span class="social-icon">
                                            <img
                                                src="/usr/assets/images/facebook.png"
                                                alt="Facebook"
                                            />
                                        </span>
                                        <span class="social-text"
                                                >Login with Facebook</span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a class="social-google" href="#">
                                        <span class="social-icon">
                                                <img
                                                    src="/usr/assets/images/google.svg"
                                                    alt="Facebook"
                                                />
                                            </span>
                                        <span class="social-text"
                                                >Login with Google</span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a class="bg-success" href="#">
                                        <span class="social-icon">
                                                <img
                                                    src="/usr/assets/images/naver.png"
                                                    alt="naver"
                                                />
                                            </span>
                                        <span class="social-text"
                                                >Login with naver</span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a class="bg-warning" href="#">
                                        <span class="social-icon">
                                                <img
                                                    src="/usr/assets/images/kakao.png"
                                                    alt="kakao"
                                                />
                                            </span>
                                        <span class="social-text"
                                                >Login with kakao</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Log In & Register Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Log In & Register End -->

        <!-- Newsletter Start -->
        <!-- Newsletter Start -->


        <!-- Newsletter End -->
    </main>


    <script>

        function siginIn() {
            if(validation() == false) return false;
        
            $.ajax({
                async: true 
                ,cache: false
                ,type: "post"
                /* ,dataType:"json" */
                ,url: "/signinUsrCheck"
                /* ,data : $("#formLogin").serialize() */
                ,data : { "membersEmail" : $("#membersEmail").val(), "membersPw" : $("#membersPw").val()}
                // , "autoLogin" : $("#autoLogin").is(":checked")
                
                ,success: function(response) {
                    if(response.rt == "success") {
                        location.href = "/usrIndex";
                        
                    } else if(response.rt == "failPw"){
                        alert("비밀번호가 일치하지 않습니다");
                        // document.getElementById("modalAlertTitle").innerText = "확 인";
                        // document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
                        // $("#modalAlert").modal("show");
                    } else {
                        alert("아이디가 일치하지 않습니다");
                    }
                }
                ,error : function(jqXHR, textStatus, errorThrown){
                    alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
                }
            });
        }        

        document.getElementById("buttonSignIn").onclick = function () {
            siginIn();
        }

        

        function validation() {
            if(validationCheck() == false) { return false;
            }
        }
        
        function validationCheck() {
            if(!checkNull ('membersEmail', 2, '데이터 값을 입력하세요')) return false;
            if(!checkEmail('membersEmail',2,0,'"abc@google.com"처럼 이메일 형식에 맞게 입력하세요')) return false;
            if(!checkNull ('membersPw', 2, '데이터 값을 입력하세요')) return false;
            if(!checkOnlyKoreanEnglishNumber('membersPw',2,0,'영어, 한글, 숫자만 입력 가능합니다')) return false;
            
            
        }

        document.addEventListener("keydown", function(event) {
            // 엔터키를 눌렀을 때
            if (event.key === "Enter") {
                event.preventDefault(); // 폼 제출을 막음

                siginIn();
            }
        });



    </script>


	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{/usr/v1/infra/include/usrJs :: usrJs}"></div>

</body>

</html>