<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{usr/v1/infra/include/usrHead :: usrHead}"></div>




<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <!--수정, 로그인-->
                    <h2 class="breadcrumb-wrapper__title">
                        Log In
                    </h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>Log In</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Log In & Register Start -->
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <!--수정, justify-content-center 추가(가운데 정렬)-->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <h3 class="login-register__title">Log In</h3>

                            <form method="post" id="loginEvent">
                                <div class="login-register__form">
                                    <!--수정, 로그인 폼 라벨 추가-->
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <label for="membersEmail" class="form-label">Email</label>
                                        <input type="text" name="membersEmail" id="membersEmail" class="single-form__input" value="ex1@google.com" />
                                        <div class="invalid-feedback" id="membersEmailFeedback"></div>
                                    </div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
									<div class="single-form">
                                        <label for="membersPw" class="form-label">Password</label>
										<input type="password" name="membersPw" id="membersPw" class="single-form__input" value="1" />
										<div class="invalid-feedback" id="membersPwFeedback"></div>
									</div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
                                    <div class="single-form">
<!--                                         <input class="single-form__input" type="checkbox" id="remember" /> -->
<!--                                         <label for="remember" class="single-form__label checkbox-label"><span></span> Remember -->
<!--                                             me</label> -->
<!--                                         <p class="lost-password"> -->
<!--                                             <a href="#">Lost your password?</a> -->
<!--                                         </p> -->
                                    </div>
                                    <!-- Single Form Start -->

                                    <!-- Single Form Start -->
                                    <!--수정, 버튼 가로 값 및 회원가입 추가-->
                                    <div class="single-form text-end row">
                                        <button class="single-form__btn btn col" type="button" id="buttonSignIn">
                                            Log In
                                        </button>
                                        
                                        <a th:href="@{/membersUsrRegister}" class="single-form__btn btn col" >
                                            Register
                                        </a>
                                    </div>
                                    <!-- Single Form Start -->
                                </div>
                            </form>
                            <!--수정, 간편 로그인 버튼 추가 및 row, col 삽입-->
                            <ul class="login-register__social row ">
<!--                             	카카오 로그인 -->
                                <li class=" col ">
                                    <a herf="javascript:void(0)"
											th:onclick="javascript:fnClick();" style="cursor: pointer;" class="ms-5">
											<img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222">
									</a>
                                </li>
<!--                                 <li class="col"> -->
<!--                                     <a class="bg-success" href="#"> -->
<!--                                         <span class="social-icon"> -->
<!--                                                 <img -->
<!--                                                     src="/usr/assets/images/naver.png" -->
<!--                                                     alt="naver" -->
<!--                                                 /> -->
<!--                                             </span> -->
<!--                                         <span class="social-text" -->
<!--                                                 >Login with naver</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
                            </ul>
                        </div>
                        <!-- Log In & Register Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Log In & Register End -->

        <!-- Newsletter Start -->
        <!-- Newsletter Start -->


        <!-- Newsletter End -->
    </main>


	<script th:inline="javascript">
	  	// REST API
		function fnClick() {
			location.href = [[${location}]]
		};
		
	</script>
	

	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{usr/v1/infra/include/usrJs :: usrJs}"></div>

</body>

</html>