<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <!--수정, 로그인-->
                    <h2 class="breadcrumb-wrapper__title">
                        Log In
                    </h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>Log In</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Log In & Register Start -->
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <!--수정, justify-content-center 추가(가운데 정렬)-->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <h3 class="login-register__title">Log In</h3>

                            <form method="post" id="loginEvent">
                                <div class="login-register__form">
                                    <!--수정, 로그인 폼 라벨 추가-->
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <label for="membersEmail" class="form-label">Email</label>
                                        <input type="text" name="membersEmail" id="membersEmail" class="single-form__input" value="ex1@google.com" />
                                        <div class="invalid-feedback" id="membersEmailFeedback"></div>
                                    </div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
									<div class="single-form">
                                        <label for="membersPw" class="form-label">Password</label>
										<input type="password" name="membersPw" id="membersPw" class="single-form__input" value="1" />
										<div class="invalid-feedback" id="membersPwFeedback"></div>
									</div>
                                    <!-- Single Form Start -->
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input class="single-form__input" type="checkbox" id="remember" />
                                        <label for="remember" class="single-form__label checkbox-label"><span></span> Remember
                                            me</label>
<!--                                         <p class="lost-password"> -->
<!--                                             <a href="#">Lost your password?</a> -->
<!--                                         </p> -->
                                    </div>
                                    <!-- Single Form Start -->

                                    <!-- Single Form Start -->
                                    <!--수정, 버튼 가로 값 및 회원가입 추가-->
                                    <div class="single-form text-end row">
                                        <button class="single-form__btn btn col" type="button" id="buttonSignIn">
                                            Log In
                                        </button>
                                        
                                        <a th:href="@{/membersUsrRegister}" class="single-form__btn btn col" >
                                            Register
                                        </a>
                                    </div>
                                    <!-- Single Form Start -->
                                </div>
                            </form>
                            <!--수정, 간편 로그인 버튼 추가 및 row, col 삽입-->
                            <ul class="login-register__social row">
<!--                             	카카오 로그인 -->
                                <li class="col">
                                    <a id="kakao-login-btn" href="javascript:loginWithKakao()" >
                                        <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
    									alt="카카오 로그인 버튼" />
                                    </a>
                                    <p id="token-result"></p>
                                    <button class="api-btn" onclick="requestUserInfo()" style="visibility:hidden">사용자 정보 가져오기</button>
                                </li>
                                <li class="col">
                                    <a class="bg-success" href="#">
                                        <span class="social-icon">
                                                <img
                                                    src="/usr/assets/images/naver.png"
                                                    alt="naver"
                                                />
                                            </span>
                                        <span class="social-text"
                                                >Login with naver</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Log In & Register Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Log In & Register End -->

        <!-- Newsletter Start -->
        <!-- Newsletter Start -->


        <!-- Newsletter End -->
    </main>


    <script>

        function siginIn() {
            if(validation() == false) return false;
        
            $.ajax({
                async: true 
                ,cache: false
                ,type: "post"
                /* ,dataType:"json" */
                ,url: "/signinUsrCheck"
                /* ,data : $("#formLogin").serialize() */
                ,data : { "membersEmail" : $("#membersEmail").val(), "membersPw" : $("#membersPw").val()}
                // , "autoLogin" : $("#autoLogin").is(":checked")
                
                ,success: function(response) {
                    if(response.rt == "success") {
                        location.href = "/usrIndex";
                        
                    } else if(response.rt == "failPw"){
                        alert("비밀번호가 일치하지 않습니다");
                        // document.getElementById("modalAlertTitle").innerText = "확 인";
                        // document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
                        // $("#modalAlert").modal("show");
                    } else {
                        alert("아이디가 일치하지 않습니다");
                    }
                }
                ,error : function(jqXHR, textStatus, errorThrown){
                    alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
                }
            });
        }        

        document.getElementById("buttonSignIn").onclick = function () {
            siginIn();
        }

        

        function validation() {
            if(validationCheck() == false) { return false;
            }
        }
        
        function validationCheck() {
            if(!checkNull ('membersEmail', 2, '데이터 값을 입력하세요')) return false;
            if(!checkEmail('membersEmail',2,0,'"abc@google.com"처럼 이메일 형식에 맞게 입력하세요')) return false;
            if(!checkNull ('membersPw', 2, '데이터 값을 입력하세요')) return false;
            if(!checkOnlyKoreanEnglishNumber('membersPw',2,0,'영어, 한글, 숫자만 입력 가능합니다')) return false;
            
            
        }

        document.getElementById("loginEvent").addEventListener("keydown", function(event) {
            // 엔터키를 눌렀을 때
            if (event.key === "Enter") {
                event.preventDefault(); // 폼 제출을 막음

                siginIn();
            }
        });


    </script>

	 <!--1. 카카오 SDK 로드-->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

	<script>
	//카카오 초기화
		Kakao.init('인증KEY');
        Kakao.isInitialized() // 초기화 판단여부
        
        function loginWithKakao() {
            displayToken();
            Kakao.Auth.authorize({
              redirectUri: 'http://localhost:8081/usrIndex',
            });
          }
        
        function displayToken() {
          var token = getCookie('authorize-access-token');

          if(token) {
            Kakao.Auth.setAccessToken(token);
            Kakao.Auth.getStatusInfo()
              .then(function(res) {
                if (res.status === 'connected') {
                  document.getElementById('token-result').innerText
                    = 'login success, token: ' + Kakao.Auth.getAccessToken();
                }
              })
              .catch(function(err) {
                Kakao.Auth.setAccessToken(null);
              });
          }
        }

        function getCookie(name) {
          var parts = document.cookie.split(name + '=');
          if (parts.length === 2) { return parts[1].split(';')[0]; }
        }
//     데모 확인
    
//     //카카오 로그인 후 토근 값 저장.
//         function loginWithKakao() {
//             Kakao.Auth.login({
//                 success: function (authObj) {
//                     console.log(authObj); // access토큰 값
//                     Kakao.Auth.setAccessToken(authObj.access_token); // access토큰값 저장

//                     getInfo();
//                 },
//                 fail: function (err) {
//                     console.log(err);
//                 }
//             });
//         }
    
//      // 엑세스 토큰을 발급받고, 아래 함수를 호출시켜서 사용자 정보를 받아옴.
//         function getInfo() {
//             Kakao.API.request({
//             	url: '/v2/user/me',
//                 success: function (res) {
//                     alert(res);
//                     var profile_nickname = res.kakao_account.profile.nickname;

//                     alert(profile_nickname);
//                 },
//                 fail: function (error) {
//                     alert('카카오 로그인에 실패했습니다. 관리자에게 문의하세요.' + JSON.stringify(error));
//                 }
//             });
//         }
     
//      // 로그아웃 기능 - 카카오 서버에 접속하는 엑세스 토큰을 만료, 사용자 어플리케이션의 로그아웃은 따로 진행.
//         function kakaoLogout() {
//             if (!Kakao.Auth.getAccessToken()) {
//                 alert('Not logged in.');
//                 return;
//             }
//             Kakao.Auth.logout(function() {
//                 alert('logout ok\naccess token -> ' + Kakao.Auth.getAccessToken());
//             });
//         }
    
<!-- 	</script> -->
   
	      
     
     <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js"
		integrity="sha384-kDljxUXHaJ9xAb2AzRd59KxjrFjzHa5TAoFQ6GbYTCAG0bjM55XohjjDT7tDDC01" crossorigin="anonymous">
     </script>
	 <script>
	 	Kakao.init('909fb1048f89e6dfede7e7cbc4a76c20'); // 사용하려는 앱의 JavaScript 키 입력
	 </script>

	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{usr/v1/infra/include/usrJs :: usrJs}"></div>

</body>

</html>