<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{/usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>
    

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">Order details</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>Order details</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Checkout Start -->
        <div class="checkout-section section-padding-2">
            <div class="container-fluid custom-container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <!-- Checkout Details Start -->
                        <div class="checkout-details col-md-auto">
                            <h3 class="checkout-details__title text-center">
                                Your order
                            </h3>

                            <div class="checkout-details__order-review ">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>User Info</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                User Name
                                            </td>
                                            <td class="product-total" th:text="${itemMembers.membersName}">
                                            </td>
                                        </tr>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                User Email
                                            </td>
                                            <td class="product-total" th:text="${itemMembers.membersEmail}">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Address</th>
                                            <td th:text="${item.addressTitle}"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                Address Zipcode
                                            </td>
                                            <td class="product-total" th:text="${item.addressZipcode}">
                                            </td>
                                        </tr>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                Address Main
                                            </td>
                                            <td class="product-total" th:text="${item.addressMain}">
                                            </td>
                                        </tr>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                Address Detail
                                            </td>
                                            <td class="product-total" th:text="${item.addressDetail}">
                                            </td>
                                        </tr>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                Address Etc
                                            </td>
                                            <td class="product-total" th:text="${item.addressEtc}">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>
                                                Recipient Info
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                Recipient Name
                                            </td>
                                            <td class="product-total" th:text="${item.addressName}">
                                            </td>
                                        </tr>
                                        <tr class="cart-item">
                                            <td class="product-name">
                                                Recipient Phone
                                            </td>
                                            <td class="product-total" th:text="${item.addressPhone}">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>
                                                Payment
                                            </th>
                                            <td th:text="${@codeService.selectOneCachedCode(item.ordersPaymentCd)}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="product-name">
                                                Product
                                            </th>
                                            <th class="product-total">
                                                Price
                                            </th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        
                                        
                                        <tr class="cart-item">
                                            <td class="product-name">
                                            	Name: <span th:text="${item.productName}"></span>
                                            </td>
                                            <td class="product-total">
                                                <span th:text="'$' + ${item.ordersPrice}" ></span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Quantity&nbsp;
                                            </td>
                                            <td class="product-total">
                                                x &nbsp;<span th:text="${item.productOrdersCount}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                <strong>
                                                        <span th:text="'$ ' + ${item.ordersTotalPrice}">
                                                        </span>
                                                    </strong>
                                            </td>
                                        </tr>
                                        
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- Checkout Details End -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- 푸터 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrFooter :: usrFooter}"></div>

	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{/usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>