<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{/usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>
    

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">My Account</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>My Account</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- My Account Start -->
        <div class="my-account-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- My Account Tabs Start -->
                <div class="my-account-tab">
                    <!-- My Account Tabs Menu Start -->
                    <div class="my-account-tab__menu">
                        <ul class="nav justify-content-center">
                            <li>
                                <button class="account-btn active" data-bs-toggle="tab" data-bs-target="#dashboard" type="button">
                                    Dashboard
                                </button>
                            </li>
                            <li>
                                <button class="account-btn" data-bs-toggle="tab" data-bs-target="#orders" type="button">
                                    Orders
                                </button>
                            </li>
                            <li>
                                <button class="account-btn" data-bs-toggle="tab" data-bs-target="#address" type="button">
                                    Address
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- My Account Tabs Menu End -->

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="dashboard">
                            <!-- My Account Dashboard Start -->
                            
                            <div class="my-account-dashboard">
                                <p>
                                    Hello, <strong>[[${session.sessNameUsr}]]</strong> 님
                                </p>
                                
                                <div class="border border-opacity-50 rounded p-4 mt-4">
                                    <form>
                                        <!--수정, 계정 정보-->
                                        <div class="col-md-6">
                                            <!-- Single Form Start -->
                                            <div class="m-0">
                                                <input type="hidden" name="membersSeq" th:value="${item.membersSeq}">
                                            </div>
                                            <div class="single-form">
												<label for="membersName" class="form-label">Name</label>
												<input type="text" class="form-control" name="membersName" id="membersName" th:value="${item.membersName}" required readonly/>
                                            </div>
                                            <div class="single-form">
												<label for="membersXdmListAddGender" class="form-label">Gender</label>
												<!-- 젠더코드> 코드 이름으로 나타내기 -->
												<input th:if="${item.membersGenderCd != null}" th:value="${@codeService.selectOneCachedCode(item.membersGenderCd)}" id="membersGenderCd" name="membersGenderCd" class="align-middle form-control" required readonly></input>
												<input th:unless="${item.membersGenderCd != null}" class="membersGenderCd align-middle"></input>
                                            </div>
                                            <div class="single-form">
												<label for="membersXdmListAddEmail" class="form-label">Email</label>
												<input type="text" class="form-control" name="membersEmail" id="membersXdmListAddEmail" th:value="${item.membersEmail}" required readonly/>
                                            </div>
                                            <div class="single-form">
                                                <label for="membersXdmListAddBirth" class="form-label">Birth</label>
												<input type="text" class="form-control" name="membersBirth" id="membersXdmListAddBirth" th:value="${item.membersBirth.substring(0, 4) + '/' + item.membersBirth.substring(4, 6) + '/' + item.membersBirth.substring(6, 8)}" required readonly/>
                                            </div>
                                            <div class="single-form">
												<label for="membersXdmListAddGrade" class="form-label">Grade</label>
												<input th:if="${item.membersGradeCd != null}" th:value="${@codeService.selectOneCachedCode(item.membersGradeCd)}" id="membersXdmListAddGrade" name="membersGradeCd" class="membersGradeCd align-middle form-control" required readonly></input>
												<input th:unless="${item.membersGradeCd != null}" class="membersGradeCd align-middle"></input>
                                            </div>
                                            <div class="mt-4">
                                            <!-- Single Form Start -->
                                                <a class="btn btn-outline-secondary" th:href="@{/myAccountMembersEdit(membersSeq=${item.membersSeq})}">
                                                    
                                                    Edit
                                                </a>
                                                <a class="btn btn-outline-secondary" th:href="@{/myAccountPwEdit(membersSeq=${item.membersSeq})}">
                                                    
                                                    PW Edit
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- My Account Dashboard End -->
                        </div>
                        <div class="tab-pane fade" id="account-detail">
                            <!-- My Account Account Detail Start -->
                            
                            <div class="my-account-detail">

                            </div>
                            <!-- My Account Account Detail End -->
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <!-- My Account Orders Start -->
                            <div class="my-account-orders">
                                <div class="my-account-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Reg Date</th>
                                                <th scope="col">Mod Date</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${#lists.isEmpty(list)}">
                                                <td colspan="7">주문 및 결제 내역이 없습니다</td>
                                            </tr>
                                            <tr th:if="${!#lists.isEmpty(list)}" th:each="lista:${list}">
                                                <td th:text="${lista.ordersSeq}"></td>
                                                <td th:text="${lista.ordersName}"></td>
                                                <td th:if="${lista.ordersStatusCd != null}" th:text="${@codeService.selectOneCachedCode(lista.ordersStatusCd)}" class=" align-middle"></td>
												<td th:unless="${lista.ordersStatusCd != null}" class="ordersStatusCd align-middle"></td>
                                                <td th:text="${lista.ordersPrice}"></td>
                                                <td th:text="${#dates.format(lista.ordersRegDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
												<td th:text="${#dates.format(lista.ordersModDate, 'yyyy/MM/dd HH:mm:ss')}"></td>
                                                <td><a th:href="@{/myAccountOrderView(ordersSeq=${lista.ordersSeq})}" class="btn" type="button">VIEW</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- My Account Orders End -->
                        </div>
                        
                        <div class="tab-pane fade" id="address">
                            <!-- My Account Address Start -->
                            <!-- 수정, 주소 테이블-->
                            <div class="my-account-orders">
                                <div class="my-account-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span>Title</span>
                                                </th>
                                                <th>
                                                    <span>Zipcode</span>
                                                </th>
                                                <th>
                                                    <span>Address</span>
                                                </th>
                                                <th>
                                                    <span>Detail Address</span>
                                                </th>
                                                <th>
                                                    <span>Etc Address</span>
                                                </th>
                                                <th>
                                                    <span>Name</span>
                                                </th>
                                                <th>
                                                    <span>Phone Number</span>
                                                </th>
                                                <th>
                                                    <span>Edit</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${#lists.isEmpty(listAddress)}">
                                                <td colspan="7">주소 데이터가 없습니다</td>
                                            </tr>
                                            <tr th:if="${!#lists.isEmpty(listAddress)}" th:each="listAddress:${listAddress}">
                                                <td th:text="${listAddress.addressTitle}"></td>
                                                <td th:text="${listAddress.addressZipcode}"></td>
                                                <td th:text="${listAddress.addressMain}"></td>
                                                <td th:text="${listAddress.addressDetail}"></td>
                                                <td th:text="${listAddress.addressEtc}"></td>
                                                <td th:text="${listAddress.addressName}"></td>
                                                <td th:text="${listAddress.addressPhone}"></td>
                                                <td>
                                                    <a class="btn btn-outline-secondary" th:href="@{/myAccountAddressEdit(addressSeq=${listAddress.addressSeq})}">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <a class="btn btn-outline-secondary" th:href="@{/myAccountAddressAdd}">
                                        Add Address
                                    </a>
                                </div>
                            </div>
                            <!-- My Account Address End -->
                        </div>
                        
                    </div>
                </div>
                <!-- My Account Tabs End -->
            </div>
        </div>
        <!-- My Account End -->

    </main>

    <!-- 푸터 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrFooter :: usrFooter}"></div>

	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{/usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>