<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>

    <!-- 헤더 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>
    

    <main>
        <!-- Breadcrumbs Start -->
        <div class="single-breadcrumbs">
            <div class="container-fluid custom-container">
                <ul class="single-breadcrumbs-list">
                    <li><a th:href="@{/usrIndex}">Home</a></li>
                    <li><a th:href="@{/productUsrList}">Category</a></li>
                    <!--수정, 제품-->
                    <li><span>Product</span></li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Product Single Start -->
        <div class="product-single-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- Product Single Wrapper Start -->
                <div class="product-single-wrapper">
                    <div class="product-single-col-1">
                        <!-- Product Single image Start -->
                        <div class="product-single-image">
                            <div class="product-single-slide navigation-arrows-style-1">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div th:if="${#lists.isEmpty(fileImg)}" th:each="lista:${fileImg}">
                                            <div>등록된 상품이 없습니다</div>
                                        </div>
                                        <div th:if="${!#lists.isEmpty(fileImg)}" th:each="lista:${fileImg}" class="product-single-slide-item swiper-slide">
                                            <img th:src="${lista.fileUploadedPath}" alt="Product single"  />
                                        </div>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i
                                                class="lastudioicon-arrow-right"
                                            ></i>
                                    </div>
                                    <div class="swiper-button-prev">
                                        <i
                                                class="lastudioicon-arrow-left"
                                            ></i>
                                    </div>
                                    <div class="product-single-zoom">
                                        <div class="zoom">
	                                        <a th:if="${#lists.isEmpty(fileImg)}" th:each="lista:${fileImg}">
	                                            <div>등록된 상품이 없습니다</div>
	                                        </a>
	                                        <a th:if="${!#lists.isEmpty(fileImg)}" th:each="lista:${fileImg}" class="product-glightbox" th:href="${lista.fileUploadedPath}" aria-label="Zoom"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-single-thumb">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div th:if="${#lists.isEmpty(fileImg)}" th:each="lista:${fileImg}">
                                            <div>등록된 상품이 없습니다</div>
                                        </div>
                                        <div th:if="${!#lists.isEmpty(fileImg)}" th:each="lista:${fileImg}" class="product-single-thumb-item swiper-slide">
                                            <img th:src="${lista.fileUploadedPath}" alt="Product single"  />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product Single image End -->
                    </div>

                    <div class="product-single-col-2">
                        <!-- Product Single content Start -->

                        <!--수정, 제품, 가격-->
                        <div class="product-single-content">
                            <!--카테고리 추가-->
                            <div class="mb-2">
                                <a th:href="@{/productUsrList(productCatMainCd=${item.productCatMainCd})}" 
                                th:text="${@codeService.selectOneCachedCode(item.productCatMainCd)}"></a>
                            </div>
                            <div class="product-single-content__title h2 mb-0" th:text="${item.productName}">
                            </div>
                            <!--수정 필요, 별점 추가-->
                            <div class="single-product__info--rating mt-0 mb-4">
                                <span class="star-rating">
                                    <span th:if="${item.xReviewStarAvg == 5}" style="width:100%;"></span>
                                    <span th:if="${item.xReviewStarAvg == 4}" style="width:80%;"></span>
                                    <span th:if="${item.xReviewStarAvg == 3}" style="width:60%;"></span>
                                    <span th:if="${item.xReviewStarAvg == 2}" style="width:40%;"></span>
                                    <span th:if="${item.xReviewStarAvg == 1}" style="width:20%;"></span>
                                    <span th:if="${item.xReviewStarAvg == null}" style="width:0%;"></span>
                                        
                                        
                                </span>
                            </div>
                            <div class="product-single-content__price-stock">
                                <!--수정, 세일-->
                                <div class="product-single-content__price">
                                    <ins th:text="${item.productPrice}"></ins>
                                </div>
                                <div class="product-single-content__stock">

                                        
                                    <span th:if="${item.productStock > 0}"  class="stock-text">
                                        on stock
                                    </span>
                                    <span th:unless="${item.productStock > 0}" class="stock-text">
                                        Out of stock
                                    </span>
                                </div>
                            </div>
                            <div class="product-single-content__short-description" th:text="${item.productInfo}">
                            </div>
                            <div class="product-single-content__variable product-variable table-responsive">
                                <table class="table align-middle">
                                    <tbody>
                                        <tr>
                                            <!--수정, 상품코드-->
                                            <th>Product Code</th>
                                            <div>
                                                <td th:text="${item.productSeq}">
                                                </td>
                                            </div>
                                        </tr>
                                        <tr th:unless="${item.productColorCd == null}">
                                            <!--수정, 컬러-->
                                            <th>Color</th>
                                            <td>
                                                <!-- Variable Color Start -->
                                                <div class="variable-color">
                                                    <div th:if="${item.productColorCd == 60}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Blue" data-bs-custom-class="p-meta-tooltip" class="color-item blue" aria-label="Name">
                                                        <span
                                                                class="blue"
                                                            ></span>
                                                    </div>
                                                    <div th:if="${item.productColorCd == 62}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Green" data-bs-custom-class="p-meta-tooltip" class="color-item green" aria-label="Name">
                                                        <span
                                                                class="green"
                                                            ></span>
                                                    </div>
                                                    <div th:if="${item.productColorCd == 63}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Red" data-bs-custom-class="p-meta-tooltip" class="color-item Red" aria-label="Name">
                                                        <span
                                                                class="red"
                                                        ></span>
                                                    </div>
                                                </div>
                                                
                                                <!-- Variable Color End -->
                                            </td>
                                        </tr>
                                        <tr th:unless="${item.productSizeCd == null}" >
                                            <th>Size</th>
                                            <td>
                                                <!--수정, 사이즈-->
                                                <!-- Variable Size Start -->
                                                <div class="variable-size">
                                                    <div th:if="${item.productSizeCd == 55}" class="variable-size__size" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="XS">
                                                        <span>XS</span>
                                                    </div>
                                                    <div th:if="${item.productSizeCd == 56}" class="variable-size__size" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="S">
                                                        <span>S</span>
                                                    </div>
                                                    <div th:if="${item.productSizeCd == 57}" class="variable-size__size" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="M">
                                                        <span>M</span>
                                                    </div>
                                                    <div th:if="${item.productSizeCd == 58}" class="variable-size__size" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="L">
                                                        <span>L</span>
                                                    </div>
                                                    <div th:if="${item.productSizeCd == 59}" class="variable-size__size" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="L">
                                                        <span>XL</span>
                                                    </div>

                                                </div>
                                                <!-- Variable Size End -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--수정, 사이즈/색상 리셋 버튼-->
                                <button type="button" class="reset-variable">
                                    Clear
                                </button>
                            </div>
                            <!-- <div class="product-single-content__add-to-cart-wrapper">
                                <div class="product-single-content__quantity-add-to-cart">
                                    <div class="product-single-content__quantity product-quantity">
                                        <button type="button" class="decrease" aria-label="delete">
                                            <i
                                                    class="lastudioicon-i-delete-2"
                                                ></i>
                                        </button>
                                        <input class="quantity-input" type="text" value="01" />
                                        <button type="button" class="increase" aria-label="add">
                                            <i
                                                    class="lastudioicon-i-add-2"
                                                ></i>
                                        </button>
                                    </div>
                                </div> -->
                                <!--수정, 위시 리스트-->
                                <a th:if="${session.sessNameUsr == null}" th:href="@{/membersUsrLogin}"  class="product-add-wishlist  mt-1">
                                    <i
                                        class="lastudioicon lastudioicon-heart-1 me-2"
                                    ></i> Add to Wishlist
                                </a>
                                <a th:unless="${session.sessNameUsr == null}" th:href="@{/wishlistInsert(productSeq=${item.productSeq})}"  class="product-add-wishlist  mt-1">
                                    <i
                                        class="lastudioicon lastudioicon-heart-1 me-2"
                                    ></i> Add to Wishlist
                                </a>
                            </div>
                        </div>
                        <!-- Product Single content End -->
                    </div>
                </div>
                <!-- Product Single Wrapper End -->
            </div>
        </div>
        <!-- Product Single End -->

        <!-- Product Single Tabs Start -->
        <div class="product-single-tabs-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- Product Single Tabs Start -->
                <div class="product-single-tabs">
                    <ul class="nav justify-content-center">
                        <li>
                            <button data-bs-toggle="pill" data-bs-target="#reviews" type="button">
                                Reviews <span>&#40;</span><span th:text="${reviewCount}"></span><span>&#41;</span>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade" id="reviews">
                            <!-- Product Single Review Start -->
                            <div class="product-single-review">
                                <!-- Product Comment Start -->
                                <div class="product-comment">
                                    <!--수정, 리뷰 수-->
                                    <h3 class="comment-title mt-4">
                                        <span th:text="${reviewCount}"></span> review
                                    </h3>

                                    <!-- Comment Items Start -->
                                    <ul class="comment-items" th:if="${#lists.isEmpty(listReview)}">
                                        <li>
                                            <div>등록된 리뷰가 없습니다</div>
                                        </li>
                                    </ul>
                                    <ul th:if="${!#lists.isEmpty(listReview)}" th:each="lista:${listReview}">
                                        <!-- Comment Item Start -->
                                        <li class="comment-item mt-3">
                                            <div class="comment-item__content">
                                                <div class="comment-item__rating">
                                                    <span class="star-rating">
                                                            <span th:if="${lista.reviewStarCd == 44}" style="width: 100%;"></span>
                                                            <span th:if="${lista.reviewStarCd == 43}" style="width: 80%;"></span>
                                                            <span th:if="${lista.reviewStarCd == 42}" style="width: 60%;"></span>
                                                            <span th:if="${lista.reviewStarCd == 41}" style="width: 40%;"></span>
                                                            <span th:if="${lista.reviewStarCd == 40}" style="width: 20%;"></span>
                                                    </span>
                                                </div>
                                                <p class="comment-item__description" th:text="${lista.reviewText}">
                                                </p>
                                                <p class="comment-item__meta">
                                                    <strong th:text="${lista.membersName}"></strong>
                                                    <span th:text="${lista.reviewModDate}"></span>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Comment Items End -->
                                </div>
                                <!-- Product Comment End -->

                                <!-- Product Comment Form Start -->
                                <div th:unless="${session.sessNameUsr} == null" class="product-comment-form" >
                                    <h3 class="comment-title">
                                        Add a review
                                    </h3>
                                    <form class="row g-3 " method="post" id="reviewAdd" >
                                        <!-- Comment Form Start -->
                                        <div class="comment-form">
                                            <div class="comment-form__rating">
                                                <div class="label">
                                                    Your rating *
                                                </div>
                                                <!--수정, 별점-->
                                                <span th:each="list : ${@codeService.selectListCachedCode(10)}" id="reviewStarCd">
                                                    <input type="radio" class="btn-check" name="reviewStarCd" th:id="'reviewStarCd' + ${list.codeSeq}" th:value="${list.codeSeq}" autocomplete="off">
                                                    <label class="btn btn-secondary" th:for="'reviewStarCd' + ${list.codeSeq}" th:text="${list.codeName}"></label>
                                                </span>
                                            </div>
                                            <input type="hidden" name="productSeq" id="productSeq" th:value="${item.productSeq}">
                                            <!-- Single Form Start -->
                                            <div class="single-form">
                                                <label class="single-form__label">
                                                    Your review *
                                                </label>
                                                <textarea class="single-form__input" id="reviewText" name="reviewText"></textarea>
                                            </div>
                                            
                                            <div class="single-form">
                                                <button class="single-form__btn btn" id="btnSubmit" type="submit">
                                                    Submit
                                                </button>
                                            </div>
                                            <!-- Single Form Start -->
                                        </div>
                                        <!-- Comment Form End -->
                                    </form>
                                </div>
                                <!-- Product Comment Form End -->
                            </div>
                            <!-- Product Single Review End -->
                        </div>
                    </div>
                </div>
                <!-- Product Single Tabs End -->
            </div>
        </div>

        <!-- Related Product Start -->
        <div class="related-product-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- Related Title Start -->
                <div class="related-title text-center">
                    <h2 class="related-title__title">Related Products</h2>
                </div>
                <!-- Related Title End -->

                <!-- Related Product Start -->
                <div class="related-product-active swiper-dot-style-1">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:if="${!#lists.isEmpty(listRelated)}" th:each="lista:${listRelated}" >
                                <!-- Single product Start -->
                                <div class="single-product js-scroll ShortFadeInUp" >
                                    <div class="single-product__thumbnail">
                                        <div th:if="${session.sessNameUsr == null}" class="single-product__thumbnail--meta-2">
                                            <a th:href="@{/membersUsrLogin}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist"><i
                                                        class="lastudioicon-heart-2"
                                            ></i></a>
                                        </div>
                                        <div th:unless="${session.sessNameUsr == null}" class="single-product__thumbnail--meta-2">
                                            <a th:href="@{/wishlistInsert(productSeq=${lista.productSeq})}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist"><i
                                                        class="lastudioicon-heart-2"
                                            ></i></a>
                                        </div>
                                        <div th:if="${lista.productStock > 0}">
                                            
                                        </div>
                                        <div th:unless="${lista.productStock > 0}"  class="single-product__thumbnail--badge out-of-stock">
                                            Out of stock
                                        </div>
                                        <div th:if="${lista.xFileUploadedDefault == null}" class="single-product__thumbnail--holder">
                                            <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq},productCatDetailCd=${lista.productCatDetailCd})}">
                                                <img src="/usr/assets/images/products/product-02.jpg" alt="Product" width="344" height="370" />
                                                <img class="product-hover" src="/usr/assets/images/products/product-12.jpg" alt="Product" width="344" height="370" />
                                            </a>
                                        </div>
                                        <div th:unless="${lista.xFileUploadedDefault == null}" class="single-product__thumbnail--holder">
                                            <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq},productCatDetailCd=${lista.productCatDetailCd})}">
                                                <img th:src="${lista.xFileUploadedDefault}" alt="Product" />
                                                <img class="product-hover" th:src="${lista.xFileUploadedSub}" alt="Product" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single-product__info text-center">
                                        <div class="single-product__info--tags">
                                            <a th:href="@{/productUsrList(productCatMainCd=${lista.productCatMainCd})}" 
                                            th:text="${@codeService.selectOneCachedCode(lista.productCatMainCd)}"></a>
                                        </div>
                                        <!--수정, 별점 넣기-->
                                        <div class="single-product__info--rating">
                                            <span class="star-rating">
                                                <span th:if="${lista.xReviewStarAvg == 5}" style="width:100%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 4}" style="width:80%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 3}" style="width:60%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 2}" style="width:40%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 1}" style="width:20%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == null}" style="width:0%;"></span>
                                                    
                                                    
                                            </span>
                                        </div>
                                        <h3 class="single-product__info--title">
                                            <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq},productCatDetailCd=${lista.productCatDetailCd})}" th:text="${lista.productName}"></a>
                                        </h3>
                                        <div class="single-product__info--price">
                                            <ins th:text="'$ ' + ${lista.productPrice}"></ins>
                                        </div>
                                        <!--색 버튼 추가-->
                                        <div th:unless="${lista.productColorCd == null}" class="single-product__info--color-swatch" >
                                            <button th:if="${lista.productColorCd == 60}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Blue" data-bs-custom-class="p-meta-tooltip" class="color-item blue" aria-label="Name"></button>
                                            <button th:if="${lista.productColorCd == 62}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Green" data-bs-custom-class="p-meta-tooltip" class="color-item green" aria-label="Name"></button>
                                            <button th:if="${lista.productColorCd == 63}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Red" data-bs-custom-class="p-meta-tooltip" class="color-item red" aria-label="Name"></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single product End -->
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <!-- Related Product End -->
            </div>
        </div>

        <!-- Related Product End -->

        <!-- 모달창 -->

        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="errorMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <script>
        // 폼 정의 필수

        let form = document.querySelector("form[name=formInsert]");


        document.getElementById("btnSubmit").onclick = function () {
                reviewAdd();
        }

        function reviewAdd() {

            $.ajax({
                async: true 
                ,cache: false
                ,type: "post"
                /* ,dataType:"json" */
                ,url: "/reviewInsert"
                /* ,data : $("#formLogin").serialize() */
                ,data : { "reviewText" : $("#reviewText").val(), "reviewStarCd" : $("input[name='reviewStarCd']:checked").val(), "productSeq" : $("#productSeq").val(), "reviewMembersSeq" : $("#reviewMembersSeq").val()}
                // , "autoLogin" : $("#autoLogin").is(":checked")
                
                ,success: function(response) {
                    if(response.rt == "success") {
                        location.href = "[[@{/productUsrDetail(productSeq=${item.productSeq})}]]";
                    } else {
                        alert("리뷰 형식이 일치하지 않습니다");
                    }
                }
                ,error : function(jqXHR, textStatus, errorThrown){
                    alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
                }
            });
        }      


        document.getElementById("reviewAdd").addEventListener("keydown", function(event) {
            // 엔터키를 눌렀을 때
            if (event.key === "Enter") {
                event.preventDefault(); // 폼 제출을 막음

                reviewAdd();
            }
        });

    </script>
    
    <!-- 푸터 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrFooter :: usrFooter}"></div>


    <!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>