<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>


    <!-- 헤더 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>
    
    <main>
        <!-- Slider Start -->
        <div class="slider-section slider-active navigation-arrows-style-2">
            <div class="container-fluid custom-container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <!-- Slider Item Start -->
                        <!--수정, 슬라이드 배너-->
                        <div class="slider-item home-1-slider-style-1 swiper-slide d-md-flex align-items-center home-1-slider-animation" style="
                                    background-image: url(/usr/assets/images/banner3.jpg);
                                ">
                            <!-- Slider Content Start -->
                            <div class="home-1-slider-content-style-1 text-center">
                                <h3 class="home-1-slider-content-style-1__sub-title">
                                    Hello Baby
                                </h3>
                                <h2 class="home-1-slider-content-style-1__title">
                                    New arrival
                                </h2>

                                <ul class="home-1-slider-content-style-1__btns justify-content-center">
                                    <li class="button-01">
                                        <a class="home-1-slider-content-style-1__btn" th:href="@{/productUsrList(productNewNy=1)}" >
                                            Shop now
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                        <!-- Slider Item End -->
                        <!-- Slider Item Start -->
                        <div class="slider-item home-1-slider-style-1 swiper-slide d-md-flex align-items-center home-1-slider-animation" style="
                                    background-image: url(/usr/assets/images/banner2.jpg)
                                ">
                            <!-- Slider Content Start -->
                            <div class="home-1-slider-content-style-1 ">
                                <h3 class="home-1-slider-content-style-1__sub-title">
                                    Little Pet
                                </h3>
                                <h2 class="home-1-slider-content-style-1__title text-warning opacity-75">
                                    Summer Dresses
                                </h2>

                                <ul class="home-1-slider-content-style-1__btns">
                                    <li class="button-01">
                                        <a class="home-1-slider-content-style-1__btn" th:href="@{/productUsrList(productCatMainCd=12)}">
                                            Shop now
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                        <!-- Slider Item End -->
                        <!-- Slider Item Start -->
                        <div class="slider-item home-1-slider-style-1 swiper-slide d-md-flex align-items-center home-1-slider-animation" style="
                                    background-image: url(/usr/assets/images/banner4.jpg);
                                ">
                            <!-- Slider Content Start -->
                            <div class="home-1-slider-content-style-1">
                                <h3 class="home-1-slider-content-style-1__sub-title">
                                    Smart Toys
                                </h3>
                                <h2 class="home-1-slider-content-style-1__title text-white">
                                    Happy Play
                                </h2>

                                <ul class="home-1-slider-content-style-1__btns">
                                    <li class="button-01">
                                        <a class="home-1-slider-content-style-1__btn" th:href="@{/productUsrList(productCatMainCd=13)}">
                                            Shop now
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                        <!-- Slider Item End -->
                        <!--종료, 슬라이드 배너-->
                    </div>

                    <div class="home-1-slider-arrow">
                        <div class="swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.624" height="30.79" viewBox="0 0 12.624 30.79">
                                <path d="m11.229 1.395-10 14 10 14" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                            </svg>
                        </div>
                        <div class="swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.624" height="30.79" viewBox="0 0 12.624 30.79">
                                <path d="m1.395 1.395 10 14-10 14" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider End -->

        <!-- Banner Start -->
        <div class="banner-section">
            <div class="container-fluid custom-container">
                <div class="row custom-g-2 banner-grid">
                    <div class="col-lg-4 col-sm-6 grid-item">
                        <!-- Banner Start -->
                        <div class="banner-item banner-1 js-scroll ShortFadeInUp">
                            <a th:href="@{/productUsrList(productCatMainCd=14)}">
                                <div class="banner-item__image">
                                    <img src="/usr/assets/images/bannerA.png" alt="Banner" />
                                </div>
                                <div class="banner-item__content">
                                    <h3 class="banner-item__title">
                                        New Feed
                                    </h3>
                                    <p class="banner-item__description">
                                        Sale 30%
                                    </p>
                                    <span class="banner-item__btn">
                                            Shop now
                                        </span>
                                </div>
                            </a>
                        </div>
                        <!-- Banner End -->
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item">
                        <!-- Banner Start -->
                        
                        <div class="banner-item banner-2 js-scroll ShortFadeInUp">
                            <a th:href="@{/productUsrList(productCatMainCd=12)}">
                                <div class="banner-item__image">
                                    <img src="/usr/assets/images/bannerB.jpg" alt="Banner" width="453" height="266" loading="lazy" />
                                </div>
                                <div class="banner-item__content text-center">
                                    <h3 class="banner-item__title">
                                        New
                                    </h3>
                                    <p class="banner-item__description">
                                        clothing
                                    </p>
                                    <span class="banner-item__btn">
                                            Shop now
                                        </span>
                                </div>
                            </a>
                        </div>
                        <!-- Banner End -->
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item">
                        <!-- Banner Start -->
                        <div class="banner-item banner-2 js-scroll ShortFadeInUp">
                            <a th:href="@{/productUsrList(productCatMainCd=16)}">
                                <div class="banner-item__image">
                                    
                                    <img src="/usr/assets/images/bannerC.png" alt="Banner" width="453" height="266" loading="lazy" />
                                </div>
                                <div class="banner-item__content text-center">
                                    <h3 class="banner-item__title">
                                        Take a photo
                                    </h3>
                                    <p class="banner-item__description">
                                        Learning moment
                                    </p>
                                    <span class="banner-item__btn">
                                            Shop now
                                        </span>
                                </div>
                            </a>
                        </div>
                        <!-- Banner End -->
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item">
                        <!-- Banner Start -->
                        <div class="banner-item banner-3 js-scroll ShortFadeInUp">
                            <a th:href="@{/productUsrList(productCatMainCd=13)}">
                                <div class="banner-item__image">
                                    <img src="/usr/assets/images/bannerD.jpg" alt="Banner" width="453" height="266" loading="lazy" />
                                </div>
                                <div class="banner-item__content text-center">
                                    
                                    <h3 class="banner-item__title">
                                        Enjoy
                                    </h3>
                                    <p class="banner-item__description">
                                        Toy
                                    </p>
                                    <span class="banner-item__btn">
                                            Shop now
                                        </span>
                                </div>
                            </a>
                        </div>
                        <!-- Banner End -->
                    </div>
                    <div class="col-lg-4 col-sm-6 grid-item">
                        <!-- Banner Start -->
                        <div class="banner-item banner-4 js-scroll ShortFadeInUp">
                            <a th:href="@{/productUsrList(productCatMainCd=15)}">
                                <div class="banner-item__image">
                                    <img src="/usr/assets/images/bannerE.jpg" alt="Banner" width="453" height="266" loading="lazy" />
                                </div>
                                
                                <div class="banner-item__content text-center">
                                    <h3 class="banner-item__title">
                                        Useful
                                    </h3>
                                    <p class="banner-item__description">
                                        Accessories
                                    </p>
                                    <span class="banner-item__btn">
                                            Shop now
                                        </span>
                                </div>
                            </a>
                        </div>
                        <!-- Banner End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->

        <!-- Product Clothing Start -->
        <div class="product-section section-padding-1">
            <div class="container-fluid custom-container">
                <!-- Section Title Start -->
                <div class="section-title text-center js-scroll ShortFadeInUp">
                    <span class="section-title__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-heart" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                        </svg>
                        </span>

                    <h2 class="section-title__title">BEST</h2>
                </div>
                <!-- Section Title End -->

                <!-- Product Wrapper Start -->
                <div class="product-wrapper product-active navigation-arrows-style-1">
                    <div class="swiper">
                        <div class="swiper-wrapper row">
                            <div th:if="${#lists.isEmpty(listBest)}" th:each="lista:${listBest}">
                                <p>등록된 상품이 없습니다</p>
                            </div>
                            <div th:if="${!#lists.isEmpty(listBest)}" th:each="lista:${listBest}" class="col-lg-3 col-md-4 col-sm-6">
                            <div class="swiper-slide">
                                <!-- Single product Start -->
                                <div class="single-product js-scroll ShortFadeInUp">
                                    <div class="single-product__thumbnail">

                                        <div th:if="${lista.xFileUploadedDefault == null}" class="single-product__thumbnail--holder">
                                            <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq})}">
                                                <img src="/usr/assets/images/products/product-06.jpg" alt="Product" width="344" height="370" />
                                            </a>
                                        </div>
                                        <div th:unless="${lista.xFileUploadedDefault == null}" class="single-product__thumbnail--holder">
                                            <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq},productCatDetailCd=${lista.productCatDetailCd})}">
                                                <img th:src="${lista.xFileUploadedDefault}" alt="Product" width="344" height="370" />
                                            </a>
                                        </div>
                                        <div th:if="${session.sessNameUsr == null}" class="single-product__thumbnail--meta-2">
                                            <a th:href="@{/membersUsrLogin}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist"><i
                                                        class="lastudioicon-heart-2"
                                            ></i></a>
                                        </div>
                                        <div th:unless="${session.sessNameUsr == null}" class="single-product__thumbnail--meta-2">
                                            <a th:href="@{/wishlistInsert(productSeq=${lista.productSeq})}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist"><i
                                                        class="lastudioicon-heart-2"
                                            ></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="single-product__info">
                                        <div class="single-product__info--tags">
                                            <a th:href="@{/productUsrList}" th:text="${@codeService.selectOneCachedCode(lista.productCatMainCd)}"></a>
                                        </div>
                                        <h3 class="single-product__info--title">
                                            <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq})}" th:text="${lista.productName}"></a>
                                        </h3>
                                        <div class="single-product__info--price">
                                            <ins th:text="${lista.productPrice}"></ins>
                                        </div>
                                        <div class="single-product__info--rating">
                                            <span class="star-rating">
                                                <span th:if="${lista.xReviewStarAvg == 5}" style="width:100%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 4}" style="width:80%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 3}" style="width:60%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 2}" style="width:40%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == 1}" style="width:20%;"></span>
                                                <span th:if="${lista.xReviewStarAvg == null}" style="width:0%;"></span>
                                                    
                                                    
                                            </span>
                                        </div>
                                        <div th:unless="${lista.productColorCd == null}" class="single-product__info--color-swatch" >
                                            <button th:if="${lista.productColorCd == 60}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Blue" data-bs-custom-class="p-meta-tooltip" class="color-item blue" aria-label="Name"></button>
                                            <button th:if="${lista.productColorCd == 62}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Green" data-bs-custom-class="p-meta-tooltip" class="color-item green" aria-label="Name"></button>
                                            <button th:if="${lista.productColorCd == 63}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Red" data-bs-custom-class="p-meta-tooltip" class="color-item red" aria-label="Name"></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single product End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Wrapper End -->

                <!-- More Button Start -->
                <div class="text-center js-scroll ShortFadeInUp">
                    <a th:href="@{/productUsrList(productBestNy=1)}">View more Best</a>
                </div>
                <!-- More Button End -->
            </div>
        </div>
        <!-- Product Clothing End -->

        <!-- Product Toys Start -->
        <div class="product-section section-padding-1">
            <div class="container-fluid custom-container">
                <!-- Section Title Start -->
                <div class="section-title text-center js-scroll ShortFadeInUp">
                    <span class="section-title__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                        </span>

                    <h2 class="section-title__title">NEW</h2>
                </div>
                <!-- Section Title End -->

                <!-- Product Wrapper Start -->
                <div class="product-wrapper product-active navigation-arrows-style-1">
                    <div class="swiper">
                        <div class="swiper-wrapper row">
                            <div th:if="${#lists.isEmpty(listNew)}" th:each="lista:${listNew}">
                                <p>등록된 상품이 없습니다</p>
                            </div>
                            <div th:if="${!#lists.isEmpty(listNew)}" th:each="lista:${listNew}" class="col-lg-3 col-md-4 col-sm-6">

                                <div class="swiper-slide">
                                    <!-- Single product Start -->
                                    <div class="single-product js-scroll ShortFadeInUp">
                                        <div class="single-product__thumbnail">
                                            <div th:if="${lista.xFileUploadedDefault == null}" class="single-product__thumbnail--holder">
                                                <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq})}">
                                                    <img src="/usr/assets/images/products/product-06.jpg" alt="Product" width="344" height="370" />
                                                </a>
                                            </div>
                                            <div th:unless="${lista.xFileUploadedDefault == null}" class="single-product__thumbnail--holder">
                                                <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq},productCatDetailCd=${lista.productCatDetailCd})}">
                                                    <img th:src="${lista.xFileUploadedDefault}" alt="Product" width="344" height="370" />
                                                </a>
                                            </div>
                                            <div th:if="${session.sessNameUsr == null}" class="single-product__thumbnail--meta-2">
                                                <a th:href="@{/membersUsrLogin}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist"><i
                                                            class="lastudioicon-heart-2"
                                                ></i></a>
                                            </div>
                                            <div th:unless="${session.sessNameUsr == null}" class="single-product__thumbnail--meta-2">
                                                <a th:href="@{/wishlistInsert(productSeq=${lista.productSeq})}" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist"><i
                                                            class="lastudioicon-heart-2"
                                                ></i></a>
                                            </div>
                                        </div>
                                        
                                        <div class="single-product__info">
                                            <div class="single-product__info--tags">
                                                <a th:href="@{/productUsrList}" th:text="${@codeService.selectOneCachedCode(lista.productCatMainCd)}"></a>
                                            </div>
                                            <h3 class="single-product__info--title">
                                                <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq})}" th:text="${lista.productName}"></a>
                                            </h3>
                                            <div class="single-product__info--price">
                                                <ins th:text="${lista.productPrice}"></ins>
                                            </div>
                                            <div class="single-product__info--rating">
                                                <span class="star-rating">
                                                    <span th:if="${lista.xReviewStarAvg == 5}" style="width:100%;"></span>
                                                    <span th:if="${lista.xReviewStarAvg == 4}" style="width:80%;"></span>
                                                    <span th:if="${lista.xReviewStarAvg == 3}" style="width:60%;"></span>
                                                    <span th:if="${lista.xReviewStarAvg == 2}" style="width:40%;"></span>
                                                    <span th:if="${lista.xReviewStarAvg == 1}" style="width:20%;"></span>
                                                    <span th:if="${lista.xReviewStarAvg == null}" style="width:0%;"></span>
                                                        
                                                        
                                                </span>
                                            </div>
                                            <div th:unless="${lista.productColorCd == null}" class="single-product__info--color-swatch" >
                                                <button th:if="${lista.productColorCd == 60}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Blue" data-bs-custom-class="p-meta-tooltip" class="color-item blue" aria-label="Name"></button>
                                                <button th:if="${lista.productColorCd == 62}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Green" data-bs-custom-class="p-meta-tooltip" class="color-item green" aria-label="Name"></button>
                                                <button th:if="${lista.productColorCd == 63}" type="submit" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Red" data-bs-custom-class="p-meta-tooltip" class="color-item red" aria-label="Name"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single product End -->
                            </div>
                        </div>
                    </div>
                <!-- More Button Start -->
                </div>
                <div class="text-center js-scroll ShortFadeInUp">
                    <a th:href="@{/productUsrList(productNewNy=1)}">View more New</a>
                </div>
                <div class="m-3"></div>
                <!-- More Button End -->
            </div>
        </div>
        <!-- Product Toys End -->
        
        
        <!-- 반려동물 동반 관광지 추천 Start -->
        <div class="product-section section-padding-1">
            <div class="container-fluid custom-container">
                <!-- Section Title Start -->
                <div class="section-title text-center js-scroll ShortFadeInUp">
                    <span class="section-title__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                        </span>

                    <h2 class="section-title__title">Pet-Friendly</h2>
                </div>
                <!-- Section Title End -->

                <!-- Product Wrapper Start -->
                <div class="product-wrapper product-active navigation-arrows-style-1">
                    <div class="swiper">
                        <div class="swiper-wrapper row">
                            <!-- 관광지가 없을 경우 -->
				            <div th:if="${node == null or node.size() == 0}">
				                <p>등록된 관광지가 없습니다</p>
				            </div>
				            <!-- 관광지가 있을 경우 -->
				            <div th:if="${node != null and node.size() > 0}"  th:each="lista : ${node}"  class="col-lg-3 col-md-4 col-sm-6">
                                <div class="swiper-slide">
                                    <!-- Single product Start -->
                                    <div class="single-product js-scroll ShortFadeInUp">
                                        
                                        <div class="single-product__info">
                                            <div class="single-product__info--tags mt-2 mb-2 ">
                                            	<div th:text="${lista.areaName}"></div>
                                            	 <div class="mt-1">- <span th:text="${lista.partName}"></span></div>
                                            </div>
                                            <span> [ </span><span style="font-size: 24px; font-weight: bold;" class=" single-product__info--title" th:text="${lista.title}">
                                            </span><span> ] </span>
                                            <div class="single-product__info--price mt-2">
                                                <ins th:text="${lista.address}"></ins>
                                            </div>
                                            <div class="single-product__info--price">
                                                <ins th:text="${lista.tel}"></ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single product End -->
                            </div>
                        </div>
                    </div>
                <!-- More Button Start -->
                </div>
                <div class="m-3"></div>
                <!-- More Button End -->
            </div>
        </div>
        <!-- 반려동물 동반 관광지 추천  End -->

        
    </main>

    <!-- 푸터 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrFooter :: usrFooter}"></div>

	<!--자바스크립트 주소 관련 블록-->
	<div th:replace="~{usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>