<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{/usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>

    <!-- 헤더 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{/usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">Wishlist</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Wishlist</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Wishlist Start -->
        <div class="wishlist-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- Wishlist Table Start -->
                <div class="wishlist-table">
                    <table class="table">
                        <thead>
                            <!--수정, 이미지/상품이름 가운데 정렬-->
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail text-md-center">img</th>
                                <th class="product-name text-md-center">Product</th>
                                <th class="product-price text-md-center">
                                    Price
                                </th>
                                <th class="product-stock text-md-center">
                                    Stock status
                                </th>
                                <th class="product-action text-md-end"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="wishlist-item">
                                <td class="product-remove">
                                    <a href="#" class="remove">×</a>
                                </td>
                                <td class="product-thumbnail text-md-center">
                                    <a href="product-single.html">
                                        <img src="/usr/assets/images/products/product-02.jpg" alt="Product" width="90" height="114" />
                                    </a>
                                </td>
                                <td class="product-name product-price text-md-center">
                                    <a href="product-single.html">
                                        Princess set
                                    </a>
                                </td>
                                <td class="product-price text-md-center" data-title="Price">
                                    <span>
                                            <del>$89.99</del>
                                            <ins>$69.99</ins>
                                        </span>
                                </td>
                                <td class="product-stock text-md-center" data-title="Stock status">
                                    <span class="stock in-stock">
                                            In stock
                                        </span>
                                </td>
                                <td class="product-action text-md-end">
                                    <a href="#" class="wishlist-table__btn btn">
                                        Add to cart
                                    </a>
                                </td>
                            </tr>
                            <tr class="wishlist-item">
                                <td class="product-remove">
                                    <a href="#" class="remove">×</a>
                                </td>
                                <td class="product-thumbnail text-md-center">
                                    <a href="product-single.html">
                                        <img src="/usr/assets/images/products/product-04.jpg" alt="Product" width="90" height="114" />
                                    </a>
                                </td>
                                <td class="product-name product-price text-md-center">
                                    <a href="product-single.html">
                                        Senecio stapeliiformis
                                    </a>
                                </td>
                                <td class="product-price text-md-center" data-title="Price">
                                    <span>
                                            <ins>$39.99</ins>
                                        </span>
                                </td>
                                <td class="product-stock text-md-center" data-title="Stock status">
                                    <span class="stock in-stock">
                                            In stock
                                        </span>
                                </td>
                                <td class="product-action text-md-end">
                                    <a href="#" class="wishlist-table__btn btn">
                                        Add to cart
                                    </a>
                                </td>
                            </tr>
                            <tr class="wishlist-item">
                                <td class="product-remove ">
                                    <a href="#" class="remove">×</a>
                                </td>
                                <td class="product-thumbnail text-md-center">
                                    <a href="product-single.html">
                                        <img src="/usr/assets/images/products/product-05.jpg" alt="Product" width="90" height="114" />
                                    </a>
                                </td>
                                <td class="product-name product-price text-md-center">
                                    <a href="product-single.html">
                                        Hoya burtoniae
                                    </a>
                                </td>
                                <td class="product-price text-md-center" data-title="Price">
                                    <span>
                                            <ins>$49.99</ins>
                                        </span>
                                </td>
                                <td class="product-stock text-md-center" data-title="Stock status">
                                    <span class="stock in-stock">
                                            In stock
                                        </span>
                                </td>
                                <td class="product-action text-md-end">
                                    <a href="#" class="wishlist-table__btn btn">
                                        Add to cart
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Wishlist Table End -->
            </div>
        </div>
        <!-- Wishlist End -->

        
    </main>
<!-- 푸터 블록 -->
<div th:replace="~{/usr/v1/infra/include/usrFooter :: usrFooter}"></div>


<!--자바스크립트 주소 관련 블록-->
<div th:replace="~{/usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>