<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- 헤드 부분 블록 -->
<div th:replace="~{usr/v1/infra/include/usrHead :: usrHead}"></div>


<body>

    <!-- 헤더 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadTop :: usrHeadTop}"></div>

    <!-- 헤더 서치 블록 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadSearch :: usrHeadSearch}"></div>

    <!-- 헤더 오른쪽 사이드바 오프캔버스 -->
    <div th:replace="~{usr/v1/infra/include/usrHeadOffcanvas :: usrHeadOffcanvas}"></div>

    <main>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title">Wishlist</h2>
                    <ul class="breadcrumb-wrapper__items justify-content-center">
                        <li><a th:href="@{/usrIndex}">Home</a></li>
                        <li><span>Wishlist</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Wishlist Start -->
        <div class="wishlist-section section-padding-2">
            <div class="container-fluid custom-container">
                <!-- Wishlist Table Start -->
                <div class="wishlist-table">
                    <table class="table">
                        <thead>
                            <!--수정, 이미지/상품이름 가운데 정렬-->
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail text-md-center">img</th>
                                <th class="product-name text-md-center">Product</th>
                                <th class="product-price text-md-center">
                                    Price
                                </th>
                                <th class="product-stock text-md-center">
                                    Stock status
                                </th>
                                <th class="product-action text-md-center">Checkout</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(list)}" th:each="lista:${list}">
                                <td>등록된 상품이 없습니다</td>
                            </tr>
                            <tr th:if="${!#lists.isEmpty(list)}" th:each="lista:${list}"  class="wishlist-item">
                                <td class="product-remove">
                                    <a class="remove" 
                                    data-bs-toggle="modal"
                                    th:data-bs-target="'#wishlistUele'+ ${lista['wishListSeq']}"
                                    data-bs-target="#wishlistUele">×</i>
                                    </a>
                                    <!-- 수정, 완전 삭제 모달-->
                                    <div class="modal fade" 
                                        th:id="'wishlistUele' + ${lista['wishListSeq']}"
                                        id="wishlistUele"
                                        tabindex="-1"
                                        aria-labelledby="wishlistUeleTitle"
                                        aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="wishlistUeleTitle">
                                                        wishlist 삭제
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-start">정말로 삭제하시겠습니까?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-secondary" data-bs-dismiss="modal">취소</a>
                                                    <a class="btn btn-danger" th:href="@{/wishlistUele(wishListSeq=${lista.wishListSeq})}">삭제</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-thumbnail text-md-center">
                                    <a href="product-single.html">
                                        <img src="/usr/assets/images/products/product-02.jpg" alt="Product" width="90" height="114" />
                                    </a>
                                </td>
                                <td class="product-name product-price text-md-center">
                                    <a th:href="@{/productUsrDetail(productSeq=${lista.productSeq})}" th:text="${lista.productName}"></a>

                                </td>
                                <td class="product-price text-md-center" data-title="Price">
                                    <span>
                                        <ins th:text="${lista.productPrice}"></ins>
                                    </span>
                                </td>
                                <td class="product-stock text-md-center" data-title="Stock status">
                                    <span th:if="${lista.productStock > 0}"  class="stock in-stock">
                                        In stock
                                    </span>
                                    <span th:unless="${lista.productStock > 0}"  class="text-danger">
                                        Out of stock
                                    </span>
                                </td>
                                <td class="product-action text-md-center">
                                    <a th:if="${lista.productStock > 0}" th:href="@{/checkOut(productSeq=${lista.productSeq})}" class="wishlist-table__btn btn">
                                        Go To Checkout
                                    </a>
                                    <span th:unless="${lista.productStock > 0}" class="fw-bold">
                                        SOLD OUT
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Wishlist Table End -->
            </div>
        </div>
        <!-- Wishlist End -->

        
    </main>
<!-- 푸터 블록 -->
<div th:replace="~{usr/v1/infra/include/usrFooter :: usrFooter}"></div>


<!--자바스크립트 주소 관련 블록-->
<div th:replace="~{usr/v1/infra/include/usrJs :: usrJs}"></div>
</body>

</html>