<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Admin Templates - Dashboard Templates - Venus Admin Template</title>

		<!-- Meta -->
		<meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="/adm/assets/images/favicon.svg" />

		<!-- *************
			************ CSS Files *************
		************* -->
		<link rel="stylesheet" href="/adm/assets/fonts/bootstrap/bootstrap-icons.css" />
		<link rel="stylesheet" href="/adm/assets/css/main.min.css" />

		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="/adm/assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />

		
        <!--자바스크립트 데이터피커 -->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
	</head>

	<body>

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Main container start -->
			<div class="main-container">

				<!-- Sidebar wrapper start -->
				<nav id="sidebar" class="sidebar-wrapper">

					<!-- App brand starts -->
					<div class="app-brand p-4">
						<a href="index.html">
							<img src="/adm/assets/images/logo.svg" class="logo" alt="Bootstrap Gallery" />
						</a>
					</div>
					<!-- App brand ends -->

					<!-- Sidebar profile actions starts -->
					<ul class="profile-actions d-lg-flex d-none">
						<li>
							<a href="settings.html" data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-custom-class="custom-tooltip-success" data-bs-title="Settings">
								<i class="bi bi-gear fs-4"></i>
							</a>
						</li>
						<li>
							<a href="profile.html" data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-custom-class="custom-tooltip-success" data-bs-title="Profile">
								<i class="bi bi-person-square fs-4"></i>
							</a>
						</li>
						<li>
							<a href="events.html" data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-custom-class="custom-tooltip-success" data-bs-title="Notifications">
								<i class="bi bi-bell fs-4"></i>
								<span class="count-label"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="bottom"
								data-bs-custom-class="custom-tooltip-warning" data-bs-title="Skype">
								<i class="bi bi-skype fs-4"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="bottom"
								data-bs-custom-class="custom-tooltip-danger" data-bs-title="Dribbble">
								<i class="bi bi-dribbble fs-4"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="bottom"
								data-bs-custom-class="custom-tooltip-info" data-bs-title="Twitter">
								<i class="bi bi-twitter fs-4"></i>
							</a>
						</li>
					</ul>
					<!-- Sidebar profile actions ends -->

					<!-- Sidebar menu starts -->
					<div class="sidebarMenuScroll">
						<ul class="sidebar-menu">
							<li>
								<a href="index.html">
									<i class="bi bi-pie-chart"></i>
									<span class="menu-text">Dashboard</span>
								</a>
							</li>
							<li>
								<a href="analytics.html">
									<i class="bi bi-bar-chart-line"></i>
									<span class="menu-text">Analytics</span>
								</a>
							</li>
							<li>
								<a href="widgets.html">
									<i class="bi bi-box"></i>
									<span class="menu-text">Widgets</span>
								</a>
							</li>
							<li>
								<a href="calendar.html">
									<i class="bi bi-calendar2"></i>
									<span class="menu-text">Calendar</span>
								</a>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-stickies"></i>
									<span class="menu-text">Components</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="accordions.html">Accordions</a>
									</li>
									<li>
										<a href="alerts.html">Alerts</a>
									</li>
									<li>
										<a href="buttons.html">Buttons</a>
									</li>
									<li>
										<a href="badges.html">Badges</a>
									</li>
									<li>
										<a href="carousel.html">Carousel</a>
									</li>
									<li>
										<a href="list-items.html">List Items</a>
									</li>
									<li>
										<a href="progress.html">Progress Bars</a>
									</li>
									<li>
										<a href="popovers.html">Popovers</a>
									</li>
									<li>
										<a href="tooltips.html">Tooltips</a>
									</li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-ui-checks-grid"></i>
									<span class="menu-text">Forms</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="form-inputs.html">Form Inputs</a>
									</li>
									<li>
										<a href="form-checkbox-radio.html">Checkbox &amp; Radio</a>
									</li>
									<li>
										<a href="form-file-input.html">File Input</a>
									</li>
									<li>
										<a href="form-validations.html">Validations</a>
									</li>
									<li>
										<a href="date-time-pickers.html">Date Time Pickers</a>
									</li>
									<li>
										<a href="form-layouts.html">Form Layouts</a>
									</li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-window-sidebar"></i>
									<span class="menu-text">Invoices</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="create-invoice.html">Create Invoice</a>
									</li>
									<li>
										<a href="view-invoice.html">View Invoice</a>
									</li>
									<li>
										<a href="invoice-list.html">Invoice List</a>
									</li>
								</ul>
							</li>
							<li class="active current-page">
								<a href="tables.html">
									<i class="bi bi-border-all"></i>
									<span class="menu-text">Tables</span>
								</a>
							</li>
							<li>
								<a href="subscribers.html">
									<i class="bi bi-check-circle"></i>
									<span class="menu-text">Subscribers</span>
								</a>
							</li>
							<li>
								<a href="contacts.html">
									<i class="bi bi-wallet2"></i>
									<span class="menu-text">Contacts</span>
								</a>
							</li>
							<li>
								<a href="settings.html">
									<i class="bi bi-gear"></i>
									<span class="menu-text">Settings</span>
								</a>
							</li>
							<li>
								<a href="profile.html">
									<i class="bi bi-person-square"></i>
									<span class="menu-text">Profile</span>
								</a>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-code-square"></i>
									<span class="menu-text">Cards</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="cards.html">Cards</a>
									</li>
									<li>
										<a href="advanced-cards.html">Advanced Cards</a>
									</li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-pie-chart"></i>
									<span class="menu-text">Graphs</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="apex.html">Apex</a>
									</li>
									<li>
										<a href="morris.html">Morris</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="maps.html">
									<i class="bi bi-pin-map"></i>
									<span class="menu-text">Maps</span>
								</a>
							</li>
							<li>
								<a href="tabs.html">
									<i class="bi bi-slash-square"></i>
									<span class="menu-text">Tabs</span>
								</a>
							</li>
							<li>
								<a href="modals.html">
									<i class="bi bi-terminal"></i>
									<span class="menu-text">Modals</span>
								</a>
							</li>
							<li>
								<a href="icons.html">
									<i class="bi bi-textarea"></i>
									<span class="menu-text">Icons</span>
								</a>
							</li>
							<li>
								<a href="typography.html">
									<i class="bi bi-explicit"></i>
									<span class="menu-text">Typography</span>
								</a>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-upc-scan"></i>
									<span class="menu-text">Login/Signup</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="login.html">Login</a>
									</li>
									<li>
										<a href="signup.html">Signup</a>
									</li>
									<li>
										<a href="forgot-password.html">Forgot Password</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="page-not-found.html">
									<i class="bi bi-exclamation-diamond"></i>
									<span class="menu-text">Page Not Found</span>
								</a>
							</li>
							<li>
								<a href="maintenance.html">
									<i class="bi bi-exclamation-octagon"></i>
									<span class="menu-text">Maintenance</span>
								</a>
							</li>
							<li class="treeview">
								<a href="#!">
									<i class="bi bi-code-square"></i>
									<span class="menu-text">Multi Level</span>
								</a>
								<ul class="treeview-menu">
									<li>
										<a href="#!">Level One Link</a>
									</li>
									<li>
										<a href="#!">
											Level One Menu
											<i class="bi bi-chevron-right"></i>
										</a>
										<ul class="treeview-menu">
											<li>
												<a href="#!">Level Two Link</a>
											</li>
											<li>
												<a href="#!">Level Two Menu
													<i class="bi bi-chevron-right"></i>
												</a>
												<ul class="treeview-menu">
													<li>
														<a href="#!">Level Three Link</a>
													</li>
													<li>
														<a href="#!">Level Three Link</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="#!">Level One Link</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- Sidebar menu ends -->

				</nav>
				<!-- Sidebar wrapper end -->

				<!-- App container starts -->
				<div class="app-container">

					<!-- App header starts -->
					<div class="app-header d-flex align-items-center">

						<!-- Toggle buttons start -->
						<div class="d-flex">
							<button class="btn btn-outline-primary me-2 toggle-sidebar" id="toggle-sidebar">
								<i class="bi bi-text-indent-left fs-5"></i>
							</button>
							<button class="btn btn-outline-primary me-2 pin-sidebar" id="pin-sidebar">
								<i class="bi bi-text-indent-left fs-5"></i>
							</button>
						</div>
						<!-- Toggle buttons end -->


						<!-- App brand sm start -->
						<div class="app-brand-sm d-md-none d-sm-block">
							<a href="index.html">
								<img src="/adm/assets/images/logo-sm.svg" class="logo" alt="Bootstrap Gallery">
							</a>
						</div>
						<!-- App brand sm end -->

						<!-- App header actions start -->
						<div class="header-actions">
							<div class="search-container d-lg-block d-none me-2">
								<!-- Search container start -->
								<input type="text" class="form-control" placeholder="Search" />
								<i class="bi bi-search"></i>
								<!-- Search container end -->
							</div>
							<div class="dropdown ms-2">
								<a class="dropdown-toggle d-flex p-2 border rounded-2" href="#!" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="bi bi-grid fs-4 lh-1"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end shadow">
									<!-- Row start -->
									<div class="d-flex gap-2 m-2">
										<a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
											<img src="/adm/assets/images/brand-behance.svg" class="img-2x" alt="Admin Themes" />
										</a>
										<a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
											<img src="/adm/assets/images/brand-gatsby.svg" class="img-2x" alt="Admin Themes" />
										</a>
										<a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
											<img src="/adm/assets/images/brand-google.svg" class="img-2x" alt="Admin Themes" />
										</a>
										<a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
											<img src="/adm/assets/images/brand-bitcoin.svg" class="img-2x" alt="Admin Themes" />
										</a>
										<a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
											<img src="/adm/assets/images/brand-dribbble.svg" class="img-2x" alt="Admin Themes" />
										</a>
									</div>
									<!-- Row end -->
								</div>
							</div>
							<div class="dropdown ms-2">
								<a class="dropdown-toggle d-flex p-2 border rounded-2" href="#!" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="bi bi-bell fs-4 lh-1"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end shadow">
									<div class="dropdown-item">
										<div class="d-flex py-2 border-bottom">
											<img src="/adm/assets/images/user.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
											<div class="m-0">
												<h6 class="mb-1">Sophie Michiels</h6>
												<p class="mb-2">Membership has been ended.</p>
												<p class="small m-0 text-secondary">Today, 07:30pm</p>
											</div>
										</div>
									</div>
									<div class="dropdown-item">
										<div class="d-flex py-2 border-bottom">
											<img src="/adm/assets/images/user2.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
											<div class="m-0">
												<h6 class="mb-1">Sophie Michiels</h6>
												<p class="mb-2">Congratulate, James for new job.</p>
												<p class="small m-0 text-secondary">Today, 08:00pm</p>
											</div>
										</div>
									</div>
									<div class="dropdown-item">
										<div class="d-flex py-2">
											<img src="/adm/assets/images/user1.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
											<div class="m-0">
												<h6 class="mb-1">Sophie Michiels</h6>
												<p class="mb-2">Lewis added new schedule release.</p>
												<p class="small m-0 text-secondary">Today, 09:30pm</p>
											</div>
										</div>
									</div>
									<div class="d-grid m-3">
										<a href="javascript:void(0)" class="btn btn-primary">View all</a>
									</div>
								</div>
							</div>
							<div class="dropdown ms-2">
								<a href="settings.html" data-bs-toggle="tooltip" data-bs-placement="bottom"
									data-bs-custom-class="custom-tooltip-info" data-bs-title="Settings"
									class="d-flex p-2 border rounded-2">
									<i class="bi bi-gear fs-4 lh-1"></i>
								</a>
							</div>
							<div class="dropdown ms-3">
								<a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center ps-3 border-start" href="#!"
									role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="d-none d-md-block me-2">Michelle Max</span>
									<img src="/adm/assets/images/user.png" class="rounded-circle img-3x" alt="Bootstrap Gallery" />
								</a>
								<div class="dropdown-menu dropdown-menu-end shadow">
									<a class="dropdown-item d-flex align-items-center" href="profile.html"><i
											class="bi bi-person fs-4 me-2"></i>Profile</a>
									<a class="dropdown-item d-flex align-items-center" href="settings.html"><i
											class="bi bi-gear fs-4 me-2"></i>Account Settings</a>
									<a class="dropdown-item d-flex align-items-center" href="login.html"><i
											class="bi bi-escape fs-4 me-2"></i>Logout</a>
								</div>
							</div>
						</div>
						<!-- App header actions end -->

					</div>
					<!-- App header ends -->

					<!-- App hero header starts -->
					<!-- App hero header starts -->
					<!-- 수정, 검색 폼 시작-->
					<form name="formList" id="formList" method="get" autocomplete="off">
						<div class="app-hero-header align-items-start">
							<div>
								<!-- Breadcrumb start -->
								<ol class="breadcrumb d-none d-lg-flex align-items-center">
									<li class="breadcrumb-item">
										<i class="bi bi-house">

										</i>
										<a href="index.html">
											Home
										</a>
									</li>
									<li class="breadcrumb-item">
										Components
									</li>
									<li class="breadcrumb-item" aria-current="page">
										Invoice List
									</li>
								</ol>
							</div>
							<!-- Breadcrumb end -->

							<!-- 시작, 검색조건 첫번째 줄-->
							<div class="ms-auto d-flex flex-row">
								<!-- search s -->
								<div class="col-4"></div>
								<div class="col">
									<select id="shDelNy" name="shDelNy" class="form-select form-select">
										<option value="" th:selected="${vo.shDelNy == null}">
											탈퇴여부
										</option>
										<option value="1" th:selected="${vo.shDelNy == 1}">
											Y
										</option>
										<option value="0" th:selected="${vo.shDelNy == 0}">
											N
										</option>            
									</select>
								</div>
								<!-- 참고! 이후 페이지 구현시 사용여부까지 진행시 편리함
								<div class="col">
									<select class="form-select" name="shUseNy" id="shUseNy">
										<option value="" th:selected="${vo.shUseNy == null}">사용여부</option>
										<option value="1" th:selected="${vo.shUseNy == 1}">Y</option>
										<option value="0" th:selected="${vo.shUseNy == 0}">N</option>
									</select>
								</div>		
								-->	
								<!-- 수정, 이후 날짜 진행시 하단으로 변경-->
								<div class="col">
									<select id="shOptionDate" name="shOptionDate" class="form-select form-select">
										<option value="" th:selected="${vo.shOptionDate == null}">
											날짜
										</option>
										<option value="1" th:selected="${vo.shOptionDate == 1}">
											등록일
										</option>
										<option value="2" th:selected="${vo.shOptionDate == 2}">
											수정일
										</option>
									</select>
								</div>
								<!--수정 데이터피커 인풋 구문-->
								
									<!-- 수정, 이후 날짜 진행시 하단으로 변경-->
									<!-- <div class="input-group"> -->
										<!-- <input type="text" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" placeholder="시작일" class="form-control form-control datetimepicker" autocomplete="off" readonly> -->
										<!-- <input type="text" id="shDateStart" name="shDateStart" 
											placeholder="시작일" class="form-control form-control datetimepicker"
											autocomplete="off" >
										<span class="input-group-text">
											<i class="bi bi-calendar4">

											</i>
										</span>
									</div> -->
									<!-- 하단 -->
								<div class="col">
									<input type="text" id="shDateStart" name="shDateStart" 
										placeholder="시작일" class="form-control form-control datetimepicker" 
										th:value="${#strings.substring(vo.shDateStart, 0, 10)}"
										autocomplete="off" >
								</div>
								<!-- 수정, 이후 날짜 진행시 하단으로 변경-->
								<!-- <div class="m-0 col-2">
									<div class="input-group"> -->
										<!-- <input type="text" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="종료일" class="form-control form-control datetimepicker" autocomplete="off" readonly> -->
										<!-- <input type="text" id="shDateEnd" name="shDateEnd" 
										placeholder="종료일" class="form-control form-control datetimepicker" 
										autocomplete="off" >
										<span class="input-group-text">
											<i class="bi bi-calendar4">

											</i>
										</span>
									</div>
								</div>  -->
								<!-- 하단 시작-->
								<div class="m-0 col-2">
									<input type="text" id="shDateEnd" name="shDateEnd" 
									placeholder="종료일" class="form-control form-control datetimepicker" 
									th:value="${#strings.substring(vo.shDateEnd, 0, 10)}"
									autocomplete="off" >
								</div> 
							</div>
								<!--하단 끝-->
								<!-- 끝, 검색조건 첫번째 줄-->
								<!-- 수정, 검색조건 두번째 줄-->
							<div class="ms-auto d-flex flex-row justify-content-end">
								<div class="col-6"></div>
								<div class="col-2">
									<select id="shOption" name="shOption" class="form-select form-select">
										<option value="" th:selected="${vo.shOption == null}">
											검색구분
										</option>
										<option value="1" th:selected="${vo.shOption == 1}">
											code no
										</option>
										<option value="2" th:selected="${vo.shOption == 2}">
											name
										</option>
										<option value="3" th:selected="${vo.shOption == 3}">
											memo
										</option>			
									</select>
								</div>
								
								<!--강사님 검색어 창-->
								<!-- <div class="col">
									<input type="text" id="shValue" name="shValue" th:value="${vo.ShValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control form-control">
									<div class="invalid-feedback" id="shValueFeedback"></div>
								</div>  -->
								<!-- search e -->
								<!-- Search container start -->
								<!-- 수정, 검색 버튼 리스트-->
								<div class="search-container d-lg-block d-none">
									<div class="input-group ">
										<input type="text" id="shValue" name="shValue" onkeyup="enterkey()" class="form-control" 
										placeholder="Search" aria-label="Recipient's username" aria-describedby="btnSearch">
										<button type="button" id="btnSearch" class="btn btn-outline-secondary" >
											&nbsp; &nbsp; &nbsp;
											<i class="bi bi-search">

											</i>
										</button>
									</div>

										<!-- Search container end -->
								</div>
									<!-- 수정, 되돌리기-->
									<!-- 이후 롤백 필요-->
								<div>
									<button type="button" id="btnReset" class="btn btn-outline-secondary">
										<i class="bi bi-arrow-repeat">

										</i>
									</button>
								</div>
								
								<!-- Sales stats start -->
								<!-- <div class="d-flex flex-column me-5 text-end">
									<p class="m-0 text-secondary">Sales</p>
									<h3 class="m-0">5,58,560</h3>
								</div>
								<div class="d-flex flex-column text-end">
									<p class="m-0 text-secondary">Income</p>
									<h3 class="m-0">$65,80,990</h3>
								</div> -->
							</div>

						</div>
					
						<!-- App Hero header ends -->

						<!-- App body starts -->
						<div class="app-body">

							<!-- Row start -->
							<div class="row">
								<div class="col-xxl-12">
									<div class="card mb-4">
										<div class="card-header">
											<!-- 타이틀 -->
											<h5 class="card-title">
												Code Group
											</h5>
										</div>
										<!--수정, 토탈 값 넣기 및 페이징 수 넣기-->
										<div class="row">
											<div class="fw-bold mt-3 ms-4 col-10">
												total:
											</div>
											<div class="col">
												<div class="pe-3">
													<select class="form-select" aria-label="Default select example">
														<option value="1">5</option>
														<option selected="">10</option>													
														<option value="2">20</option>
														<option value="3">100</option>
													</select>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table class="table align-middle table-hover m-0">
													<thead>
														<tr>
															<th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /></th>
															<th scope="col">#</th>
															<th scope="col">seq</th>
															<th scope="col">name</th>
															<th scope="col">memo</th>
															<th scope="col">count</th>
															<th scope="col">regDate</th>
															<th scope="col">modDate</th>
															<th scope="col">Edit</th>
														</tr>
													</thead>
													<tbody>
														<tr th:if="${#lists.isEmpty(list)}">
															<td colspan="5">There is no data!!!</td>
															
														</tr>
														<tr th:if="${!#lists.isEmpty(list)}" th:each="lista:${list}">
															<td>
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
															</td>
															<td th:if="${lista.delNy eq 0}">N</td>
															<td th:unless="${lista.delNy eq 0}">Y</td>
															<td th:text="${lista.seq}"></td>
															<td><a th:href="@{/codeGroupXdmView(
																seq=${lista.seq}
															)}" th:text="${lista.name}"></a></td>
															<td th:text="${lista.memo}"></td>
															<td th:text="${lista.xCodeGourpCount}"></td>
															<td th:text="${#dates.format(lista.regDatetime, 'yyyy/MM/dd HH:mm:ss')}"></td>
															<td th:text="${#dates.format(lista.modDatetime, 'yyyy/MM/dd HH:mm:ss')}"></td>
															<td>
																<a class="btn btn-primary btn-icon btn-sm mb-1" th:href="@{/codeGroupXdmEdit(seq=${lista.seq})}">
																	<i class="bi bi-pencil"></i>
																</a>
																
																<!-- th:href="@{/codeGroupDtOne(seq=${lista.seq}, delNy=${lista.delNy})}" -->
																<!-- <a class="btn btn-danger btn-icon btn-sm mb-1" 
																	data-bs-toggle="modal"
																	th:data-bs-target="'#exampleModalCenter'+ ${lista['seq']}"
																	data-bs-target="#exampleModalCenter"><i class="bi bi-trash"></i>
																</a> -->
																<!-- 수정, 삭제 모달
																<div class="modal fade" 
																	th:id="'exampleModalCenter' + ${lista['seq']}"
																	id="exampleModalCenter"
																	tabindex="-1"
																	aria-labelledby="exampleModalCenterTitle"
																	aria-hidden="true">

																	<div class="modal-dialog modal-dialog-centered">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" id="exampleModalCenterTitle">
																					Code Group 삭제
																				</h5>
																				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																			</div>
																			<div class="modal-body">
																				<p class="text-start">회원 정보를 정말로 삭제하시겠습니까?</p>
																			</div>
																			<div class="modal-footer">
																				<a class="btn btn-secondary" data-bs-dismiss="modal">취소</a>
																				<a class="btn btn-danger" th:href="@{/codeGroupDtOne(seq=${lista.seq}, delNy=${lista.delNy})}">삭제</a>
																			</div>
																		</div>
																	</div>
																</div> -->
															</td>
														</tr>
														
														
													</tbody>
												</table>
												<!--수정, 페이지네이션-->
												<div class="mt-3">

													<div class="">
														<nav aria-label="Page Navigation">
															<ul class="pagination justify-content-center">
																<li class="page-item">
																	<a class="page-link" href="#" aria-label="Previous">
																		<span aria-hidden="true">
																			<i class="bi bi-arrow-left"></i>
																		</span>
																	</a>
																</li>
																<li class="page-item active">
																	<a class="page-link" href="#">1</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#">2</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#">3</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#">4</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#">5</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#">6</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#">7</a>
																</li>
																<li class="page-item">
																	<a class="page-link" href="#" aria-label="Next">
																		<span aria-hidden="true">
																			<i class="bi bi-arrow-right"></i>
																		</span>
																	</a>
																</li>
															</ul>
														</nav>
													</div>
												</div>
												<!-- 끝 -->
												<div class="d-flex justify-content-between">
													<!--수정, 테이블 아래 삭제 등록 버튼 -->
													<div class="">
													
													<!-- th:data-bs-target="'#exampleModalCenter'+ ${lista['seq']}" -->
														<a class="btn btn-danger btn-icon" 
															data-bs-toggle="modal"
															
															data-bs-target="#codeGroupXdmListDele"><i class="bi bi-trash"></i>
														</a>
														<!-- 수정, 삭제 모달-->
														<!-- th:id="'codeGroupXdmListDele' + ${lista['seq']}" -->
														<!-- 나중에 삭제 경로 설정 필요-->
														<div class="modal fade" 
															
															id="codeGroupXdmListDele"
															tabindex="-1"
															aria-labelledby="codeGroupXdmListDele"
															aria-hidden="true">

															<div class="modal-dialog modal-dialog-centered">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="codeGroupXdmListDeleTitle">
																			Code Group 삭제
																		</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																		<p class="text-start">회원 정보를 정말로 삭제하시겠습니까?</p>
																	</div>
																	<div class="modal-footer">
																		<a class="btn btn-secondary" data-bs-dismiss="modal">취소</a>
																		<a class="btn btn-danger" th:href="@{/codeGroupXdmList}">삭제</a>
																	</div>
																</div>
															</div>
														</div>
														
													</div>

													<div class="">
														<a class="btn btn-primary bi bi-plus-square" th:href="@{/codeGroupXdmListAdd}">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row end -->
						</div>
					</form>
					<!-- 끝, 검색 폼 끝-->
					<!-- App body ends -->

					<!-- App footer start -->

					<!-- App footer end -->

				</div>
				<!-- App container ends -->

			</div>
			<!-- Main container end -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/adm/assets/js/jquery.min.js"></script>
		<script src="/adm/assets/js/bootstrap.bundle.min.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/adm/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/adm/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Custom JS files -->
		<script src="/adm/assets/js/custom.js"></script>

		<!-- 수정, 데이터피커 자바스크립트 구문-->
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<script type="text/javascript">
			$(function () {
				$("#shDateStart, #shDateEnd").datetimepicker({ 
					format: "Y-m-d",
					timepicker:false,
				});
			});
		</script>

		<!-- 수정, 함수 및 컨트롤러 내용 구문-->
		<!-- 오류시 내용 재확인-->
		<script type="text/javascript">
			// 데이터 피커 관련 표기법 해당 구문에 실행
			window.addEventListener('load', function() {
// 					$("#shDateStart, #shDateEnd").datepicker();
			});
			let form = document.querySelector("form[name=formList]");

			let goUrlXdmList = "/codeGroupXdmList";								
			let goUrlXdmForm = "/v1/infra/codegroup/codeGroupXdmEdit";								
			let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupUele";			
			let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupDele";			
			let goUrlXdmView = "/v1/infra/codegroup/codeGroupXdmView";								
			
			// 해당 구문 확인 필요
			let seq = document.querySelector("input[name=seq]");									
			
			document.getElementById("btnReset").onclick = function () {
				location.href = goUrlXdmList;
			}


			// document.getElementById("btnForm").onclick = function () {
			// 	goForm(0);
			// }


			goForm = function (keyValue) {
				seq.value = keyValue;
				form.action = goUrlXdmForm;
				form.submit();
			}

			document.getElementById("btnSearch").onclick = function () {
				form.action = goUrlXdmList;
				form.submit();
			};

			function enterkey() {
				if (window.event.keyCode == 13) {
					form.action = goUrlXdmList;
					form.submit();
				}
			}

		</script>
	</body>

</html>