<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="codeDtOne" >
    	<!-- <div>
	    <input type="text" name="codeSeq" th:value="${item.codeSeq}">
	    </div>
	    <div>
    	<input type="text" name="codeName" th:value="${item.codeName}">
    	</div>
    	<div>
    	<input type="text" name="codeMemo" th:value="${item.codeMemo}">
    	</div>
    	<div>
    	<input type="hidden" name="codeDelNy" th:value="${item.codeDelNy}">
    	</div> -->
    	<p th:text="${item.codeSeq}"></p>
    	<p th:text="${item.codeName}"></p>
    	<p th:text="${item.codeMemo}"></p>
    	<input type="hidden" name="codeDelNy" th:value="${item.codeDelNy}">
    	<input type="hidden" name="codeSeq" th:value="${item.codeSeq}">
		<a th:href="@{/codeEdit(codeSeq=${item.codeSeq})}" th:text="수정"></a>
    	<button type="submit">삭제</button>
    </form>
    <form method="post" action="codeDtTwo">
		<input type="hidden" name="codeSeq" th:value="${item.codeSeq}">
		
		<button type="submit">완전 삭제</button>
	</form>
    
</body>
</html>