<?xml version="1.0" encoding="UTF-8"?>

<!-- 모름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 경로 -->
<mapper namespace="com.babify.infra.address.AddressDao">

	<!-- Dto 경로 -->
	<resultMap id="resultMapObj" type="com.babify.infra.address.AddressDto"></resultMap>

	
	<select id="selectList" resultMap="resultMapObj">
	
		SELECT 
			a.addressSeq
		    ,a.addressDelNy
		    ,a.addressUseNy
		    ,a.addressDefaultNy
		    ,a.addressTitle
		    ,a.addressZipcode
		    ,a.addressMain
		    ,a.addressDetail
		    ,a.addressEtc
		    ,a.addressName
		    ,a.addressPhone
		    ,a.addressLat
		    ,a.addressLon
		    ,a.addressLocalACd
		    ,a.addressLocalBCd
		    ,a.addressRegDate
		    ,a.addressModDate
		    ,a.members_membersSeq as membersMembersSeqF

		FROM address a
		WHERE 1 = 1
		 	and addressDelNy = 0
			and a.members_membersSeq = #{membersMembersSeqF}
		     	ORDER BY a.addressSeq
				limit 99999999999
	</select>

	
	<!-- 셀렉원 만들기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.addressSeq
		    ,a.addressDelNy
		    ,a.addressUseNy
		    ,a.addressDefaultNy
		    ,a.addressTitle
		    ,a.addressZipcode
		    ,a.addressMain
		    ,a.addressDetail
		    ,a.addressEtc
		    ,a.addressName
		    ,a.addressPhone
		    ,a.addressLat
		    ,a.addressLon
		    ,a.addressLocalACd
		    ,a.addressLocalBCd
		    ,a.addressRegDate
		    ,a.addressModDate
		    ,a.members_membersSeq as membersMembersSeqF
		from
			address a
		where 1=1
			and a.addressDelNy = 0
		    and a.addressSeq = #{addressSeq}
			
			
	</select>
	
	<insert id="insert">
		insert into address(
			addressTitle
			,addressZipcode
			,addressMain
			,addressDetail
			,addressEtc
			,addressName
			,addressPhone
			,addressLat
			,addressLon
			,addressLocalACd
			,addressLocalBCd
			,members_membersSeq
		) values (
			#{addressTitle}
			,#{addressZipcode}
			,#{addressMain}
			,#{addressDetail}
			,#{addressEtc}
			,#{addressName}
			,#{addressPhone}
			,#{addressLat}
			,#{addressLon}
			,#{addressLocalACd}
			,#{addressLocalBCd}
			,#{membersMembersSeqF}
		)
	</insert>
	

	
	<update id="update">
		update address
		set
			addressTitle = #{addressTitle}
			,addressZipcode = #{addressZipcode}
			,addressMain = #{addressMain}
			,addressDetail = #{addressDetail}
			,addressEtc = #{addressEtc}
			,addressName = #{addressName}
			,addressPhone = #{addressPhone}
			,addressLat = #{addressLat}
			,addressLon = #{addressLon}
			,addressLocalACd = #{addressLocalACd}
			,addressLocalBCd = #{addressLocalBCd}
			,addressModDate = now()
		where 1=1
			and addressSeq = #{addressSeq}
	</update>
	
	<update id="updateDelete">
   	update address
   	set
   		addressDelNy = 1
   	WHERE 1=1
   		and addressSeq = #{addressSeq}
  	
  	</update>
	
</mapper>
