<?xml version="1.0" encoding="UTF-8"?>

<!-- 모름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 경로 -->
<mapper namespace="com.babify.infra.code.CodeDao">

	<!-- 아이디 설정하여 셀렉문에 부과 / Dto 경로 -->
	<resultMap id="resultMapObj" type="com.babify.infra.code.CodeDto"></resultMap>
	
	<!-- select 공통 구문 SQL -->
	<sql id ="selectCommon">
		FROM code a
		left join codeGroup b 
			on a.codeGroup_codeGroupSeq = b.codeGroupSeq 
				and a.codeDelNy = 0
		where 1=1
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codeDelNy = #{shDelNy}</if>
			  
		<choose>
			<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
		<choose> 
            <when test="shOption == 1">AND b.codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.codeSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.codeName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.codeMemo LIKE CONCAT('%',#{shValue},'%')</when>
   		</choose>
	</sql>
	
	<!-- 페이지네이션 관련 쿼리 sql 구문 -->
<!-- 	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql> -->
	
	
	<!-- <sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
		limit 5 offset 0
	</sql> -->
	
	
	<select id="selectList" resultMap="resultMapObj">
	
		<!-- <include refid="Base.selectListUpperForMysql" /> -->
		select aa.* from (	
		select
			a.codeSeq
			,a.codeDelNy
			,a.codeUseNy
			,a.codeName
			,a.codeMemo
			,a.codeRegDate
			,a.codeModDate
			,a.codeGroup_codeGroupSeq as codeGroupSeqF
		    ,b.codeGroupSeq 
		    ,b.codeGroupName
		<!-- <include refid="selectCommon" /> -->
		<!-- select 공통 구문 SQL -->
		FROM code a
		left join codeGroup b 
			on a.codeGroup_codeGroupSeq = b.codeGroupSeq 
				and a.codeDelNy = 0
		where 1=1
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codeDelNy = #{shDelNy}</if>
			  
		<choose>
			<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
		<choose> 
            <when test="shOption == 1">AND b.codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.codeSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.codeName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.codeMemo LIKE CONCAT('%',#{shValue},'%')</when>
   		</choose>
		ORDER BY a.codeGroup_codeGroupSeq desc, a.codeSeq
		<!-- <include refid="Base.selectListLowerForMysql" /> -->
		) aa
		<!-- limit #{rowNumToShow} offset #{startRnumForMysql} -->
		limit 10 offset 0
	</select>
	
	<!-- 추가한 내용 -->
	<select id="selectListWithPaging" resultMap="resultMapObj">
	
		<!-- <include refid="Base.selectListUpperForMysql" /> -->
		select aa.* from (	
		select
			a.codeSeq
			,a.codeDelNy
			,a.codeUseNy
			,a.codeName
			,a.codeMemo
			,a.codeRegDate
			,a.codeModDate
			,a.codeGroup_codeGroupSeq as codeGroupSeqF
		    ,b.codeGroupSeq 
		    ,b.codeGroupName
		<!-- <include refid="selectCommon" /> -->
		<!-- select 공통 구문 SQL -->
		FROM code a
		left join codeGroup b 
			on a.codeGroup_codeGroupSeq = b.codeGroupSeq 
				and a.codeDelNy = 0
		where 1=1
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codeDelNy = #{shDelNy}</if>
			  
		<choose>
			<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
		<choose> 
            <when test="shOption == 1">AND b.codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.codeSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.codeName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.codeMemo LIKE CONCAT('%',#{shValue},'%')</when>
   		</choose>
		ORDER BY a.codeGroup_codeGroupSeq desc, a.codeSeq
		<!-- <include refid="Base.selectListLowerForMysql" /> -->
		) aa
		<!-- limit #{rowNumToShow} offset #{startRnumForMysql} -->
		limit 5 offset 0
	</select>
	<!-- 끝 -->
	
	
	<select id="selectOneCount" resultType="Integer">
		select COUNT(*)
		<!-- <include refid="selectCommon"></include> -->
		FROM code a
		left join codeGroup b 
			on a.codeGroup_codeGroupSeq = b.codeGroupSeq 
				and a.codeDelNy = 0
		where 1=1
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codeDelNy = #{shDelNy}</if>
			  
		<choose>
			<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
			
		<choose> 
            <when test="shOption == 1">AND b.codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.codeSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.codeName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.codeMemo LIKE CONCAT('%',#{shValue},'%')</when>
   		</choose>
	</select>
	
	<!-- 셀렉원 만들기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.codeSeq
			,a.codeDelNy
			,a.codeUseNy
			,a.codeName
			,a.codeMemo
			,a.codeRegDate
			,a.codeModDate
			,a.codeGroup_codeGroupSeq as codeGroupSeqF
		from
			code a
		where 1=1
			and a.codeDelNy = 0
		    and a.codeSeq = #{codeSeq}
			
			
	</select>
	
	<insert id="insert">
		insert into code(
			codeName
			,codeMemo
			,codeDelNy
			,codeGroup_codeGroupSeq
		) values (
			#{codeName}
			,#{codeMemo}
			,0
			,#{codeGroupSeqF}
		)
	</insert>
	

	
	<update id="update">
		update code
		set
			codeName = #{codeName}
			,codeMemo = #{codeMemo}
			,codeModDate = now()
			,codeGroup_codeGroupSeq = #{codeGroupSeqF}
		where 1=1
			and codeSeq = #{codeSeq}
	</update>
	
	<update id="updateDelete">
   	update code
   	set
   		codeDelNy = 1
   	WHERE 1=1
   		and codeSeq = #{codeSeq}
  	
  	</update>
  	
  	<delete id="delete">
  	delete from code
  	
  	where 1=1
  		and codeSeq = #{codeSeq}
  	
  	</delete>
  	
  	<!-- 코드 캐시 관련 -->
  	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			codeSeq
			, codeName
			, codeGroup_codeGroupSeq as codeGroupSeqF
			
		FROM
			code
		WHERE 1=1
			AND codeDelNy = 0

   </select>
   <!-- 		    AND ifcdUseNy = 1 -->
   
    
  
</mapper>
