<?xml version="1.0" encoding="UTF-8"?>

<!-- 모름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 경로 -->
<mapper namespace="com.babify.infra.orders.OrdersDao">

	<!-- 아이디 설정하여 셀렉문에 부과 / Dto 경로 -->
	<resultMap id="resultMapObj" type="com.babify.infra.orders.OrdersDto"></resultMap>
	

	<select id="selectList" resultMap="resultMapObj">
	
		SELECT 
			b.membersSeq
			,b.membersName
		    ,b.membersEmail
		    ,b.membersGradeCd
			,a.ordersSeq
		    ,a.ordersDelNy
		    ,a.ordersUseNy
		    ,a.ordersStatusCd
		    ,a.ordersPaymentCd
		    ,a.ordersCardCompanyCd
		    ,a.ordersCardNo
		    ,a.ordersName
		    ,a.ordersCardDate
		    ,a.ordersCardCvv
		    ,a.ordersFeeNy
		    ,a.ordersPrice
		    ,a.ordersTotalPrice
		    ,a.ordersRegDate
		    ,a.ordersModDate
		    ,a.ordersAddressSeq
		    ,a.members_membersSeq as membersMembersSeqF
		    ,c.orders_ordersSeq as ordersOrdersSeqF
		    ,c.product_productSeq as productProductSeqF
		    ,c.productOrdersCount
		    ,d.productSeq
		    ,d.productName
		    ,e.addressSeq
		    ,e.addressTitle
		    ,e.addressZipcode
		    ,e.addressMain
		    ,e.addressDetail
		    ,e.addressEtc
		    ,e.addressName
		    ,e.addressPhone
		FROM orders a
			LEFT JOIN members b
				on b.membersSeq = a.members_membersSeq
			LEFT JOIN productorders c
				on c.orders_ordersSeq = a.ordersSeq
			LEFT JOIN product d
				on c.product_productSeq = d.productSeq
			LEFT JOIN address e
				on a.ordersAddressSeq = e.addressSeq
		WHERE a.members_membersSeq = #{membersMembersSeqF}
				and a.ordersDelNy = 0
		     	ORDER BY a.ordersSeq
				limit 99999999999
	</select>

	
	<!-- 셀렉원 만들기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
			b.membersSeq
			,b.membersName
		    ,b.membersEmail
		    ,b.membersGradeCd
			,a.ordersSeq
		    ,a.ordersDelNy
		    ,a.ordersUseNy
		    ,a.ordersStatusCd
		    ,a.ordersPaymentCd
		    ,a.ordersCardCompanyCd
		    ,a.ordersCardNo
		    ,a.ordersName
		    ,a.ordersCardDate
		    ,a.ordersCardCvv
		    ,a.ordersFeeNy
		    ,a.ordersPrice
		    ,a.ordersTotalPrice
		    ,a.ordersRegDate
		    ,a.ordersModDate
		    ,a.ordersAddressSeq
		    ,a.members_membersSeq as membersMembersSeqF
			,c.orders_ordersSeq as ordersOrdersSeqF
		    ,c.product_productSeq as productProductSeqF
		    ,c.productOrdersCount
		    ,d.productSeq
		    ,d.productName
		    ,e.addressSeq
		    ,e.addressTitle
		    ,e.addressZipcode
		    ,e.addressMain
		    ,e.addressDetail
		    ,e.addressEtc
		    ,e.addressName
		    ,e.addressPhone
		FROM orders a
			LEFT JOIN members b
				on b.membersSeq = a.members_membersSeq
			LEFT JOIN productorders c
				on c.orders_ordersSeq = a.ordersSeq
			LEFT JOIN product d
				on c.product_productSeq = d.productSeq
			LEFT JOIN address e
				on a.ordersAddressSeq = e.addressSeq
		where 1=1
			and a.ordersDelNy = 0
		    and a.ordersSeq = #{ordersSeq}
			
			
	</select>
	
		<insert id="insert">
		insert into orders(
		    ordersPaymentCd
		    ,ordersCardCompanyCd
		    ,ordersCardNo
		    ,ordersName
		    ,ordersCardDate
		    ,ordersCardCvv
		    ,ordersPrice
		    ,ordersTotalPrice
		    ,ordersAddressSeq
		    ,members_membersSeq
		) values (
			#{ordersPaymentCd}
			,#{ordersCardCompanyCd}
			,#{ordersCardNo}
			,#{ordersName}
			,#{ordersCardDate}
			,#{ordersCardCvv}
			,#{ordersPrice}
			,#{ordersTotalPrice}
			,#{addressSeq}
			,#{membersMembersSeqF}
		)
		   		<!-- 값이 들어가는 순간 해당 시퀀스 값을 반환하기, 이후에 다시
   		예를 들어 데이터를 추가한 후 해당 데이터를 추가한 페이지를 보여주기 위함 -->
    	<selectKey resultType="String" keyProperty="seq" order="AFTER">
    		select last_insert_id()
    	</selectKey>
	</insert>
	
		<update id="updateDelete">
   	update orders
   	set
   		ordersDelNy = 1
   	WHERE 1=1
   		and ordersSeq = #{ordersSeq}
  	
  	</update>
	
</mapper>