<?xml version="1.0" encoding="UTF-8"?>

<!-- 모름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 경로 -->
<mapper namespace="com.babify.infra.productorders.ProductOrdersDao">

	<!-- 아이디 설정하여 셀렉문에 부과 / Dto 경로 -->
	<resultMap id="resultMapObj" type="com.babify.infra.productorders.ProductOrdersDto"></resultMap>
	
	<!-- select 공통 구문 SQL -->
	<sql id ="selectCommon">
		 from productorders a
		 left join product b
		 	on a.product_productSeq = b.productSeq
		 left join orders c
		 	on a.orders_ordersSeq = c.ordersSeq
	</sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
	
		select
			a.productordersSeq
			,a.productordersDelNy
			,a.productordersCount
			,a.productordersRegDate
			,a.productordersModDate
			,a.product_productSeq as productSeqF
			,a.orders_ordersSeq as ordersSeqF
		    ,b.productSeq 
		    ,c.ordersSeq
		<include refid="selectCommon"></include>
		ORDER BY a.productordersSeq desc
	</select>
	
	
	
	<select id="selectOneCount" resultType="Integer">
		select COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<!-- 셀렉원 만들기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.productordersSeq
			,a.productordersDelNy
			,a.productordersCount
			,a.productordersRegDate
			,a.productordersModDate
			,a.product_productSeq as productSeqF
			,a.orders_ordersSeq as ordersSeqF
		    ,b.productSeq 
		    ,c.ordersSeq
		 from productorders a
		 left join product b
		 	on a.product_productSeq = b.productSeq
		 left join orders c
		 	on a.orders_ordersSeq = c.ordersSeq
		where 1=1
			and a.productordersDelNy = 0
		    and a.productordersSeq = #{codeSeq}
			
			
	</select>
	
	<insert id="insert">
		insert into productorders(
			productordersCount
			,product_productSeq
			,orders_ordersSeq
		) values (
			#{productordersCount}
			,#{productSeq}
			,#{ordersSeq}
		)
	</insert>
	

	
	<update id="update">
		update productorders
		set
			productordersCount = #{productordersCount}
			,product_productSeq = #{productSeq}
			,codeModDate = now()
			,orders_ordersSeq = #{ordersSeq}
		where 1=1
			and productordersSeq = #{productordersSeq}
	</update>
	
	<update id="updateDelete">
   	update productorders
   	set
   		productordersDelNy = 1
   	WHERE 1=1
   		and productordersSeq = #{productordersSeq}
  	
  	</update>
  	
  	<delete id="delete">
  	delete from productorders
  	
  	where 1=1
  		and productordersSeq = #{productordersSeq}
  	
  	</delete>

  
</mapper>
