<?xml version="1.0" encoding="UTF-8"?>

<!-- 모름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 경로 -->
<mapper namespace="com.babify.infra.product.ProductDao">

	<!-- 아이디 설정하여 셀렉문에 부과 / Dto 경로 -->
	<resultMap id="resultMapObj" type="com.babify.infra.product.ProductDto"></resultMap>
	
<!-- 	셀렉 커먼 관리자 -->
	<sql id ="selectCommonXdm">
	from
		product a
	where 1=1
		and a.productDelNy = 0
		
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.productDelNy = #{shDelNy}</if>
		<if test="productBestNy != null and !productBestNy.equals('')">AND a.productBestNy = #{productBestNy}</if>
		<if test="productNewNy != null and !productNewNy.equals('')">AND a.productNewNy = #{productNewNy}</if>
		
		<!--  이후 날짜 데이터 진행시 추가 필요  -->    
			<choose>
			<when test="shOptionDate == 1">AND a.productRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.productModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
			<choose> 
            <when test="shOption == 1">AND a.productSeq = #{shValue}</when>
            <when test="shOption == 2">AND a.productInfo LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.productName LIKE CONCAT('%',#{shValue},'%')</when>
      		</choose>
	</sql>
	
	
	<!-- 관리자 셀렉리스트 -->
	<select id="selectList" resultMap="resultMapObj">
	
		<include refid="base.selectListUpperForMysql" />
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
		<include refid="selectCommonXdm" />
     	ORDER BY a.productSeq
		limit 99999999999
		<include refid="base.selectListLowerForMysql" />
	</select>
	
	<!-- 관리자 셀렉 카운트 -->
	<select id="selectOneCount" resultType="Integer">
		select COUNT(*)
		<include refid="selectCommonXdm"></include>
	</select>
	
	<!-- 	셀렉 커먼 사용자 -->
	<sql id ="selectCommonUsr">
	from
		product a
	where 1=1
		and a.productDelNy = 0
		<if test="productCatMainCd != null and !productCatMainCd.equals('')">AND a.productCatMainCd = #{productCatMainCd}</if>
		<if test="productBestNy != null and !productBestNy.equals('')">AND a.productBestNy = #{productBestNy}</if>
		<if test="productNewNy != null and !productNewNy.equals('')">AND a.productNewNy = #{productNewNy}</if>
		<if test="shValue != null and shValue != ''"> AND a.productName LIKE CONCAT('%', #{shValue}, '%')</if>
		
		
<!-- 		체크박스 vo -->
<!-- 라디오로 변경 -->
<!-- 		<if test="shCheckboxStarArray != null and shCheckboxStarArray.length != 0"> -->
<!-- 			AND (SELECT AVG( -->
<!--                         CASE bb.reviewStarCd -->
<!--                             WHEN 40 THEN 1 -->
<!--                             WHEN 41 THEN 2 -->
<!--                             WHEN 42 THEN 3 -->
<!--                             WHEN 43 THEN 4 -->
<!--                             WHEN 44 THEN 5 -->
<!--                             ELSE NULL -->
<!--                         END) -->
<!--                  FROM review bb -->
<!--                  WHERE bb.product_productSeq = a.productSeq -->
<!--                 ) IN -->
<!--             	<foreach collection="shCheckboxStarArray" item="xStar" open="(" close=")" separator=","> -->
<!--             		#{xStar} -->
<!-- 		 		</foreach> 		               -->
<!--         </if> -->
<!--         <if test="shCheckboxSizeArray != null and shCheckboxSizeArray.length != 0"> -->
<!-- 			AND a.productSizeCd IN -->
<!--             	<foreach collection="shCheckboxSizeArray" item="size" open="(" close=")" separator=","> -->
<!--             		#{size} -->
<!-- 		 		</foreach> 		               -->
<!--         </if> -->
<!-- 		<if test="shCheckboxColorArray != null and shCheckboxColorArray.length != 0"> -->
<!-- 			AND a.productColorCd = #{shCheckboxColorArray} -->
<!--         </if> -->

	</sql>
	
		<!-- 사용자 셀렉리스트 -->
	<select id="selectListUsr" resultMap="resultMapObj">
	
		<include refid="base.selectListUpperForMysql" />
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
			,(select avg(
				case bb.reviewStarCd
					when 40 then 1
		    		when 41 then 2
		    		when 42 then 3
		    		when 43 then 4
		    		when 44 then 5
		    		else null
	    		end)
	    		from review bb
	    		where 1=1
	    			and bb.product_productSeq = a.productSeq) as xReviewStarAvg
		<include refid="selectCommonUsr" />
     	ORDER BY a.productSeq
		limit 99999999999
		<include refid="base.selectListLowerForMysql" />
	</select>
	
	<!-- 사용자 셀렉 카운트 -->
	<select id="selectOneCountUsr" resultType="Integer">
		select COUNT(*)
		<include refid="selectCommonUsr"></include>
	</select>

		<!-- 사용자 인덱스 베스트 -->
	<select id="selectListUsrIndexBest" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql" />
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
			,(select avg(
				case bb.reviewStarCd
					when 40 then 1
		    		when 41 then 2
		    		when 42 then 3
		    		when 43 then 4
		    		when 44 then 5
		    		else null
	    		end)
	    		from review bb
	    		where 1=1
	    			and bb.product_productSeq = a.productSeq) as xReviewStarAvg
		from
			product a
		where 1=1
			and a.productDelNy = 0
			and a.productBestNy = 1
     	ORDER BY a.productSeq
		limit 99999999999
		<include refid="base.selectListLowerForMysql" />
	</select>
	
		<!-- 사용자 인덱스 New -->
	<select id="selectListUsrIndexNew" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql" />
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
			,(select avg(
				case bb.reviewStarCd
					when 40 then 1
		    		when 41 then 2
		    		when 42 then 3
		    		when 43 then 4
		    		when 44 then 5
		    		else null
	    		end)
	    		from review bb
	    		where 1=1
	    			and bb.product_productSeq = a.productSeq) as xReviewStarAvg
		from
			product a
		where 1=1
			and a.productDelNy = 0
			and a.productNewNy = 1
     	ORDER BY a.productSeq
		limit 99999999999
		<include refid="base.selectListLowerForMysql" />
	</select>
	
	<!-- 사용자 품목 리스트 연관상품 -->
	<select id="selectListRelated" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql" />
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
			,(select avg(
				case bb.reviewStarCd
					when 40 then 1
		    		when 41 then 2
		    		when 42 then 3
		    		when 43 then 4
		    		when 44 then 5
		    		else null
	    		end)
	    		from review bb
	    		where 1=1
	    			and bb.product_productSeq = a.productSeq) as xReviewStarAvg
		from
			product a
		where 1=1
			and a.productDelNy = 0
			and a.productSeq != #{productSeq}
			and a.productCatDetailCd = #{productCatDetailCd}
     	ORDER BY a.productSeq
		limit 99999999999
		<include refid="base.selectListLowerForMysql" />
	</select>
	
	<!-- 셀렉원 만들기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
			,(select avg(
				case bb.reviewStarCd
					when 40 then 1
		    		when 41 then 2
		    		when 42 then 3
		    		when 43 then 4
		    		when 44 then 5
		    		else null
	    		end)
	    		from review bb
	    		where 1=1
	    			and bb.product_productSeq = a.productSeq) as xReviewStarAvg
		from
			product a
		where 1=1
			and a.productDelNy = 0
		    and a.productSeq = #{productSeq}
			
			
	</select>
	
	<insert id="insert">
		insert into product(
			productName
			,productBestNy
			,productNewNy
			,productInfo
			,productStock
			,productPrice
			,productCatMainCd
			,productCatDetailCd
			,productSizeCd
			,productColorCd
			,productRegDate
			,productModDate
		) values (
			#{productName}
			,#{productBestNy}
			,1
			,#{productInfo}
			,#{productStock}
			,#{productPrice}
			,#{productCatMainCd}
			,#{productCatDetailCd}
			,#{productSizeCd}
			,#{productColorCd}
			,now()
			,now()
		)
	</insert>
	

	
	<update id="update">
		update product
		set
			productName = #{productName}
			,productInfo = #{productInfo}
			,productStock = #{productStock}
			,productBestNy = #{productBestNy}
			,productNewNy = #{productNewNy}
			,productModDate = now()
			,productPrice = #{productPrice}
			,productCatMainCd = #{productCatMainCd}
			,productCatDetailCd = #{productCatDetailCd}
			,productSizeCd = #{productSizeCd}
			,productColorCd = #{productColorCd}
		where 1=1
			and productSeq = #{productSeq}
	</update>
	
	<update id="updateDelete">
   	update product
   	set
   		productDelNy = 1
   	WHERE 1=1
   		and productSeq = #{productSeq}
  	
  	</update>
  	
  	<delete id="delete">
  	delete from product
  	
  	where 1=1
  		and productSeq = #{productSeq}
  	
  	</delete>
</mapper>