<?xml version="1.0" encoding="UTF-8"?>

<!-- 모름 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Dao 경로 -->
<mapper namespace="com.babify.infra.product.ProductDao">

	<!-- 아이디 설정하여 셀렉문에 부과 / Dto 경로 -->
	<resultMap id="resultMapObj" type="com.babify.infra.product.ProductDto"></resultMap>
	
	<sql id ="selectCommon">
	from
		product a
	where 1=1
		and a.productDelNy = 0
		<!-- 추가, 사용여부 사용시 진행 필요 건 -->
		<!-- <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.productDelNy = #{shDelNy}</if>
		<if test="productBestNy != null and !productBestNy.equals('')">AND a.productBestNy = #{productBestNy}</if>
		<if test="productNewNy != null and !productNewNy.equals('')">AND a.productNewNy = #{productNewNy}</if>
		
		<!--  이후 날짜 데이터 진행시 추가 필요  -->    
			<choose>
			<when test="shOptionDate == 1">AND a.productRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.productModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
			<choose> 
            <when test="shOption == 1">AND a.productSeq = #{shValue}</when>
            <when test="shOption == 2">AND a.productInfo LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.productName LIKE CONCAT('%',#{shValue},'%')</when>
      		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
	
		<include refid="base.selectListUpperForMysql" />
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
		<include refid="selectCommon" />
     	ORDER BY a.productSeq
		limit 99999999999
		<include refid="base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		select COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<!-- 셀렉원 만들기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.productSeq
			,a.productDelNy
			,a.productUseNy
			,a.productBestNy
			,a.productNewNy
			,a.productName
			,a.productInfo
			,a.productStock
			,a.productPrice
			,a.productCatMainCd
			,a.productCatDetailCd
			,a.productStarAll
			,a.productSizeCd
			,a.productColorCd
			,a.productRegDate
			,a.productModDate
		from
			product a
		where 1=1
			and a.productDelNy = 0
		    and a.productSeq = #{productSeq}
			
			
	</select>
	
	<insert id="insert">
		insert into product(
			productName
			,productBestNy
			,productNewNy
			,productInfo
			,productStock
			,productPrice
			,productCatMainCd
			,productCatDetailCd
			,productSizeCd
			,productColorCd
			,productRegDate
			,productModDate
		) values (
			#{productName}
			,#{productBestNy}
			,1
			,#{productInfo}
			,#{productStock}
			,#{productPrice}
			,#{productCatMainCd}
			,#{productCatDetailCd}
			,#{productSizeCd}
			,#{productColorCd}
			,now()
			,now()
		)
	</insert>
	

	
	<update id="update">
		update product
		set
			productName = #{productName}
			,productInfo = #{productInfo}
			,productStock = #{productStock}
			,productBestNy = #{productBestNy}
			,productNewNy = #{productNewNy}
			,productInfo = #{productInfo}
			,productModDate = now()
			,productPrice = #{productPrice}
			,productCatMainCd = #{productCatMainCd}
			,productCatDetailCd = #{productCatDetailCd}
			,productSizeCd = #{productSizeCd}
			,productColorCd = #{productColorCd}
		where 1=1
			and productSeq = #{productSeq}
	</update>
	
	<update id="updateDelete">
   	update product
   	set
   		productDelNy = 1
   	WHERE 1=1
   		and productSeq = #{productSeq}
  	
  	</update>
  	
  	<delete id="delete">
  	delete from product
  	
  	where 1=1
  		and productSeq = #{productSeq}
  	
  	</delete>
</mapper>